/*계정관리*/
.account-item-wrap{width:calc( 100% - 80px );height:auto;overflow:Hidden;padding:40px 40px;}
.account-header-wrap{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.account-header-wrap .upic{display:flex;width:28px;height:28px;overflow:hidden;background:#ff9090;background-size:cover !important;}
.account-header-wrap span{display:flex;margin-left:12px;font-size:22px;color:#101010;font-weight:bold;}
.account-status-wrap{width:100%;height:auto;overflow:hidden;}
.account-status-wrap .atit{margin-top:24px;font-size:18px;color:#3a3b3c;font-weight:bold;width:100%;height:auto;overflow:hidden;}
/*불필요*/
.account-status-wrap .setting-item-wrap button{position:absolute;right:0;bottom:0;width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}

.account-item-wrap .account-info-wrap{position:relative;border-top:1px solid #aaaeb1;border-bottom:1px solid #aaaeb1;margin-top:36px;width:100%;height:auto;overflow:hidden;}
.account-item-wrap .account-info-wrap ul{width:100%;height:auto;overflow:hidden;padding-top:10px;padding-bottom:10px;}
.account-item-wrap .account-info-wrap ul li{margin-top:10px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:flex-start;}
.account-item-wrap .account-info-wrap ul li .key{width:102px;height:30px;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;font-size:14px;color:#5e6062;}
.account-item-wrap .account-info-wrap ul li .value{width:100%;line-height:30px;height:auto;overflow:hidden;flex:1;font-size:14px;color:#5e6062;}
.account-item-wrap .account-info-wrap ul li .value span{float:left;border:1px solid #d9d9d9;border-radius:15px;height:28px;padding:0 10px;margin:0 10px 10px 0;display:flex;justify-content:center;align-items:center;font-size:12px;color:#5e6062;}


.account-item-wrap .login-group-wrap{width:100%;height:auto;overflow:hidden;}
.account-item-wrap .login-group-wrap .gtit{width:100%;height:68px;overflow:hidden;font-size:18px;color:#3a3b3c;font-weight:bold;letter-spacing: -0.01px;display:flex;justify-content:flex-start;align-items:center;}
.account-item-wrap .login-group-wrap>ul{width:100%;height:auto;overflow:hidden;}
.account-item-wrap .login-group-wrap>ul>li{width:calc( 50% - 14px );height:220px;margin-bottom:24px;overflow:hidden;float:left;border:1px solid #c8c8c8;border-radius:15px;}
.account-item-wrap .login-group-wrap>ul>li:nth-child(even){float:right;}
.account-item-wrap .login-group-wrap>ul>li:nth-child(3),
.account-item-wrap .login-group-wrap>ul>li:nth-child(4){height:150px;}
.account-item-wrap .login-group-wrap ul li .status-item-wrap{display:flex;justify-content:space-between;align-items:center;width:calc( 100% - 48px );height:80px;overflow:hidden;margin:0 auto;border-bottom:1px solid #c8c8c8;}
.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap{display:flex;justify-content:flex-start;align-items:center;}
.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap .npic{display:flex;width:40px;height:40px;border-radius:6px;overflow:hidden;background-size:cover !important;background:#ddd;}
.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap .ntxt{display:flex;margin-left:12px;font-size:16px;color:#3a3b3c;}
.account-item-wrap .login-group-wrap ul li .status-item-wrap button{width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}
.account-item-wrap .login-group-wrap ul li ul{width:calc( 100% - 48px );margin:5px auto 0 auto;height:auto;overflow:hidden;}
.account-item-wrap .login-group-wrap ul li ul li{width:100%;height:auto;overflow:hidden;margin-top:5px;font-size:12px;color:#333;}

/*추가*/
.account-item-wrap .line-personalInfo-01 .kit-memberType:after{padding:0 13px 0 6px;}
.account-item-wrap .line-personalInfo-01 .box-memberInfo{font-size:16px;color:#3a3b3c;}
.account-item-wrap .line-personalInfo-01 .box-memberInfo strong{font-size:22px;color:#3a3b3c;font-weight:normal;}
.account-item-wrap .line-personalInfo-01{position:relative;padding:36px 0;}
.account-item-wrap .line-personalInfo-01 .btns{margin-top:0;position:absolute;right:0;bottom:36px;}
.account-item-wrap .line-personalInfo-01 .btns .btn{width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;min-width:0;padding:0;}
.account-item-wrap .line-personalInfo-02{position:relative;padding:20px 0;margin-bottom:0;}
.account-item-wrap .account-btn-wrap{position:absolute;right:0;bottom:20px;}
.account-item-wrap .account-btn-wrap button{width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}
.account-item-wrap dl.column-personalInfo > dt{font-size:14px;width:102px;}
.account-item-wrap dl.column-personalInfo > dt{font-size:14px;color:#5e6062;}
.account-item-wrap dl.column-personalInfo > dd{font-size:14px;color:#5e6062;}
.account-item-wrap dl.column-personalInfo > dd .tag{font-size:12px;color:#5e6062;}
.account-item-wrap .conts .contsTitle{margin:0;padding:0;height:70px;display:flex;justify-content:flex-start;align-items:center;font-size:18px;color:#3a3b3c;font-weight:bold;}
.account-item-wrap ul.list-loginKind > li{height:210px;width:calc( 50% - 14px - 48px  );float:left;margin:0 0 24px 0;padding:0 24px;}
.account-item-wrap ul.list-loginKind > li:nth-child(even){float:right;}
.account-item-wrap ul.list-loginKind > li:nth-child(3),
.account-item-wrap ul.list-loginKind > li:nth-child(4){height:145px;}
.account-item-wrap dl.list-logInfo > dt{line-height:1.8em;font-size:12px;color:#333;}
.account-item-wrap dl.list-logInfo > dd{line-height:1.8em;font-size:12px;color:#333;}
.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt{padding:0;height:80px;display:flex;justify-content:space-between;align-items:center;}
.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt button{width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;padding:0;}
.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt h5:after{font-size:16px;font-weight:normal;color:#3a3b3c;}
.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dd{padding-top:12px;}
.account-item-wrap .line-personalInfo-01 .box-memberInfo{}

/*회사정보관리*/
.cpif-item-wrap{width:calc( 100% - 80px );height:auto;overflow:Hidden;padding:40px 40px;}
.cpif-item-wrap .line-noData .btns .btn{width:130px;height:30px;border:1px solid #c8c8c8;border-radius:8px;padding:0;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}
.cpif-item-wrap .line-noData{padding:36px 0 36px 95px; height:73px; box-sizing: initial;}
.cpif-item-wrap .line-noData .desc{font-size:16px;color:#5e6062;line-height:1.5em;}
.cpif-item-wrap .line-conts.noData{padding-top:30px;}
.cpif-item-wrap .line-conts.noData .desc{background:none;padding-top:26px;font-size:16px;color:#5e6062;line-height: 1.37em;}
.cpif-item-wrap .line-conts.noData .btn{width:240px;height:50px;overflow:hidden;border-radius:12px;background-image: linear-gradient(163deg, #59bb93 14%, #0e89e8 86%);display:flex;justify-content:center;align-items:center;padding:0;}
.cpif-item-wrap .line-personalInfo-01 .box-memberInfo .memberNm{font-size:20px;color:#3a3b3c;font-weight:bold;}
.cpif-item-wrap .line-personalInfo-01 .kit-profilePic .pic{width:73px;height:73px;}
.cpif-item-wrap .line-personalInfo-01{position:relative;padding:36px 0;}
.cpif-item-wrap .line-personalInfo-01 .box-memberInfo{margin-top:5px;}
.cpif-item-wrap .line-personalInfo-01 .kit-memberType{margin-top:0;position:absolute;left:90px;top:65px;}
.cpif-item-wrap .line-personalInfo-01 .kit-memberType.gold:after{padding-right:10px;font-size:13px;color:#333;font-weight:bold;}
.cpif-item-wrap .link-btn-wrap{position:absolute;right:0;bottom:36px;}
.cpif-item-wrap .link-btn-wrap a{font-size:14px;color:#0d89e8;text-decoration:underline;}
.cpif-item-wrap dl.column-personalInfo > dt{width:102px;font-size:14px;color:#5e6062;}
.cpif-item-wrap dl.column-personalInfo > dd{font-size:14px;color:#5e6062;}
.cpif-item-wrap .line-personalInfo-02{padding:10px 0;margin-bottom:0;border-top:1px solid #aaaeb1;position:relative;border-bottom:0;}
.cpif-item-wrap .account-btn-wrap{position:absolute;right:0;bottom:20px;}
.cpif-item-wrap .account-btn-wrap button{width:70px;height:30px;border-radius:8px;border:1px solid #c8c8c8;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}
.cpif-item-wrap .conts .contsTitle{letter-spacing: -0.01px;border-top:1px solid #aaaeb1;border-bottom:0;padding-top:24px;font-size:18px;color:#3a3b3c;font-weight:bold;margin-bottom:0;}
.cpif-item-wrap .cpif-ico-wrap{width:85px;height:85px;overflow:hidden;margin:0 auto;display:flex;justify-content:center;align-items:center;}
.cpif-item-wrap .cpif-ico-wrap img{max-width:100%;max-height:100%;}
.cpif-item-wrap .box-desc{padding-top:26px;font-size:16px;color:#5e6062;line-height:1.5em;}
.cpif-item-wrap .block-link{margin:40px auto 100px auto;}
.cpif-item-wrap .block-link .box-link h5{font-size:18px;}
.cpif-item-wrap .block-link .box-link .desc{font-size:14px;color:#5e6062;line-height:1.43em;}
.cpif-item-wrap .block-link .box-link .btn{display:inline-flex;justify-content:center;align-items:center;height:28px;padding:0 10px;border:1px solid #c8c8c8;border-radius:8px;font-size:12px;font-weight:500;color:#101010;}

/*내정보 수정*/
.mdfy-item-wrap{width:100%;max-width:992px;height:auto;overflow:Hidden;margin:0 auto;}
.basket-wrap2 .mdfy-item-wrap .basket-title{border-bottom:1px solid #aaaeb1;padding:33px 0 12px 0;display:flex;justify-content:flex-start;align-items:center;font-size:22px;color:#101010;font-weight:bold;height:auto;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap{margin:0;padding:0;width:690px;}
.basket-wrap2 .mdfy-item-wrap .box-input{padding:24px 0;width:100%;}
.basket-wrap2 .mdfy-item-wrap .kit-input input[disabled] + label{}
.basket-wrap2 .mdfy-item-wrap .row-input{margin-bottom:20px;}
.basket-wrap2 .mdfy-item-wrap .kit-input{height:50px;border-radius:8px;border:1px solid #c8c8c8;}
.basket-wrap2 .mdfy-item-wrap .kit-input input{font-size:14px;color:#5e6062;}
.basket-wrap2 .mdfy-item-wrap .kit-input input + label{font-size:14px;color:#999;top:17px;}
.basket-wrap2 .mdfy-item-wrap .kit-input input[disabled] + label,
.basket-wrap2 .mdfy-item-wrap .kit-input.disabled input + label,
.basket-wrap2 .mdfy-item-wrap .kit-input input:focus + label,
.basket-wrap2 .mdfy-item-wrap .kit-input input.valued + label {
	top: 6px;
	font-size: 12px;
}
.basket-wrap2 .mdfy-item-wrap .kit-input input[disabled],
.basket-wrap2 .mdfy-item-wrap .kit-input.disabled input,
.basket-wrap2 .mdfy-item-wrap .kit-input input:focus,
.basket-wrap2 .mdfy-item-wrap .kit-input input.valued{
	padding-top:10px;
}
.basket-wrap2 .mdfy-item-wrap .btn.blue{font-size:14px;font-weight:500;color:#101010;width:130px;height:40px;border-radius: 8px;background:#fff;display:flex;justify-content:center;align-items:center;padding:0;border:1px solid #c8c8c8;}
.basket-wrap2 .mdfy-item-wrap dl.column-view{padding-top:4px;}
.basket-wrap2 .mdfy-item-wrap dl.column-view > dt{padding-right:38px;font-size:14px;color:#5e6062;display:flex;justify-content:flex-start;align-items:center;}
.basket-wrap2 .mdfy-item-wrap dl.column-view > dd{font-size:14px;color:#5e6062;display:flex;justify-content:flex-start;align-items:center}
.basket-wrap2 .mdfy-item-wrap dl.column-view > dd .btn.small{display:flex;justify-content:center;align-items:center;margin-left:40px;width:70px;height:30px;border:1px solid #c8c8c8;border-radius:8px;padding:0;font-size:14px;font-weight:500;color:#101010;}
.basket-wrap2 .mdfy-item-wrap .row-input + hr{display:none;}
.basket-wrap2 .mdfy-item-wrap .row-input h6{text-align:left;padding-top:20px;font-size:18px;font-weight:bold;color:#3a3b3c;margin-bottom:24px;}
.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li{height:66px;width:20%;}
.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li.all{width: initial}
.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li span{height:66px;display:flex;justify-content:center;align-items:center;font-size:14px;color:#5e6062;}
.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li input[type="checkbox"]:checked:after{width:22px;height:22px;background-size:50%;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area{margin-top:0;margin-bottom:100px;justify-content:flex-end;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp2{height:58px;font-size:18px;font-weight:500;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp2 span{font-size:18px;font-weight:500;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp{height:58px;font-size:18px;font-weight:500;}
.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp span{font-size:18px;font-weight:500;}

.cpif-tabmenu-wrap{width:100%;height:auto;overflow:hidden;margin:40px auto 24px auto;position:relative;}
.cpif-tabmenu-wrap:before{content:"";width:100%;height:2px;overflow:hidden;display:block;background:#000;position:absolute;left:0;bottom:0;}
.cpif-tabmenu-wrap ul{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.cpif-tabmenu-wrap ul li{margin-left:-2px;display:flex;justify-content:flex-start;align-items:center;}
.cpif-tabmenu-wrap ul li:first-child{margin-left:0;}
.cpif-tabmenu-wrap ul li a{display:flex;justify-content:center;align-items:center;width:190px;height:48px;border:2px solid #d2d2d2;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:0;font-size:18px;color:rgba(16,16,16,.5);font-weight:600;background:#fff;}
.cpif-tabmenu-wrap ul li a.on{position:relative;border-color:#000;color:#101010;}
.cpif-item-wrap .tbl-wrap .tbl-basic thead th{background:#e1e1e1;font-size:14px;color:#000;font-weight:bold;position:relative;}
.cpif-item-wrap .tbl-wrap .tbl-basic thead th:before{content:"";width:1px;height:10px;overflow:hidden;display:block;background:#c8c8c8;position:absolute;left:0;top:50%;margin-top:-5px;}
.cpif-item-wrap .tbl-wrap .tbl-basic thead th:first-child:before{display:none;}
.cpif-item-wrap .tbl-wrap .tbl-basic td{border-bottom:1px solid #c8c8c8;font-size:14px;color:#000;}
.cpif-item-wrap .tbl-wrap .tbl-basic td button{margin:0 auto;width:70px;height:30px;overflow:hidden;border-radius:8px;border:1px solid #c8c8c8;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;font-weight:500;}
.cpif-item-wrap ul.list-desc > li{font-size:14px;color:#5e6062;width:calc( 100% - 10px );position:relative;padding-left:10px;}
.cpif-item-wrap ul.list-desc > li:before{content:"";width:3px;height:3px;overflow:hidden;display:block;background:#5e6062;position:absolute;left:0;top:8px;}

.mdfy-item-wrap .btn.arrow-right{padding:0 25px 0 0;background:url(https://resource.mall.castingn.com/static/images/account/ico-arr-gray.svg) no-repeat right center;}
.mdfy-item-wrap .text-center{display:flex;justify-content:center;align-items:center;}
.basket-wrap2 .mdfy-item-wrap .btn.blue{}
.mdfy-item-wrap .line{margin-top:-20px;width:100%;height:1px;overflow:Hidden;background:#ececec;}
.mdfy-item-wrap ul.list-checkBlock > li input[type="checkbox"]:after{width:22px;height:22px;margin-top:-11px;}
.mdfy-item-wrap ul.list-checkBlock > li input[type="checkbox"]:checked:after{width:22px;height:22px;margin-top:-11px;}
.mdfy-item-wrap ul.list-checkBlock > li > dl > dt{font-size:14px;color:#5e6062;}
.mdfy-item-wrap ul.list-checkBlock > li > dl > dd{font-size:14px;color:#5e6062;}
.mdfy-item-wrap .mob-label{display:none;}
.mdfy-item-wrap .row-caption{min-height:20px;position:relative;}
.mdfy-item-wrap .row-caption .label{position:absolute;left:0;top:0;font-size:14px;color:#5e6062;font-weight:500;}

/*배송지관리*/
.account-item-wrap .group-destination{margin-bottom:20px;}
.account-item-wrap .group-destination .line-title{margin-top:33px;max-width:600px;display:flex;justify-content:space-between;align-items:center;}
.account-item-wrap .group-destination .line-title h4{font-size:18px;color:#3a3b3c;font-weight:bold;}
.account-item-wrap .group-destination .line-title .btns .btn-add{display:flex;justify-content:center;align-items:center;width:100px;height:30px;overflow:hidden;border-radius:8px;border:1px solid #c8c8c8;padding:0;background:#fff;font-size:12px;color:#101010;font-weight:500;}
.account-item-wrap ul.list-destination{max-width:600px;}
.account-item-wrap dl.column-blank{max-width:600px;}
.account-item-wrap dl.column-blank{height:130px;}
.account-item-wrap dl.column-blank > dt{}
.account-item-wrap dl.column-blank > dd{font-size:14px;color:#85888d;line-height:1.43em;}
.account-item-wrap .group-destination + hr{margin-bottom:33px;background:#ececec;border:0;height:1px;}
.account-item-wrap ul.list-destination > li > .info .title{font-size:16px;color:#5e6062;font-weight:bold;}
.account-item-wrap ul.list-destination > li > .info .user{font-size:14px;color:#5e6062;}
.account-item-wrap ul.list-destination > li > .info .addr{font-size:14px;color:#5e6062;}
.account-item-wrap ul.list-destination > li > .control{flex-direction:column;justify-content:flex-end;align-items:flex-end;width:180px;}
.account-item-wrap ul.list-destination > li > .control .appoint{display:flex;justify-content:flex-start;align-items:center;margin:0;width:auto;}
.account-item-wrap ul.list-destination > li > .control .appoint input{}
.account-item-wrap ul.list-destination > li > .control .appoint label{display:flex;justify-content:flex-start;align-items:center}
.account-item-wrap ul.list-destination > li > .control .appoint label:after{white-space:nowrap;font-size:14px;color:#5e6062;}
.account-item-wrap ul.list-destination > li > .control .btns{border:0;margin-top:20px;display:flex;justify-content:flex-end;align-items:center}
.account-item-wrap ul.list-destination > li > .control .btns .btn{display:flex;justify-content:center;align-items:center;margin-left:8px;width:70px;height:30px;padding:0;border-radius:8px;border:1px solid #c8c8c8;font-size:12px;color:#101010;}

.account-item-wrap .delivery-btn-area{padding-bottom:100px;}
.account-item-wrap .delivery-btn-area .btn-comp2{width:240px;height:58px;border:1px solid #c8c8c8;border-radius:12px;background:#fff;display:flex;justify-content:center;align-items:center;font-size:18px;color:#101010;font-weight:500;margin-right:8px;}
.account-item-wrap .delivery-btn-area .btn-comp{display:flex;
	align-items:center;
	justify-content:center;
	height: 60px;
	border-radius:8px;
	background: rgba(89,187,147,1);
	background: -moz-linear-gradient(-45deg, rgba(89,187,147,1) 0%, rgba(14,137,232,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(89,187,147,1)), color-stop(100%, rgba(14,137,232,1)));
	background: -webkit-linear-gradient(-45deg, rgba(89,187,147,1) 0%, rgba(14,137,232,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(89,187,147,1) 0%, rgba(14,137,232,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(89,187,147,1) 0%, rgba(14,137,232,1) 100%);
	background: linear-gradient(135deg, rgba(89,187,147,1) 0%, rgba(14,137,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bb93', endColorstr='#0e89e8', GradientType=1 );width:240px;}

.layer-pop.deliver-pop.drif-type{width:792px;box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);}
.layer-pop.drif-type .pop-head{height:49px;background:#023b69;font-size:16px;color:#fff;font-weight:bold;}
.layer-pop.drif-type .pop-close.po1{top:17px;}
.layer-pop.deliver-pop.drif-type .pop-con{overflow:hidden;padding:50px 50px 26px 50px;height:auto;}
.drif-type .pop-con-part2{width:100%;height:auto;overflow:hidden;}
.drif-type .pop-con-part2 .label{width:100%;height:auto;overflow:hidden;font-size:14px;color:#5e6062;font-weight:500;}
.drif-type .pop-con-part2 .form-item-wrap{margin-top:12px;width:100%;height:auto;overflow:hidden;}
.drif-type .pop-con-part2 .form-item-wrap .inp{font-size:14px;color:#333;width:calc( 100% - 42px );height:50px;overflow:hidden;border:1px solid #c8c8c8;border-radius:8px;padding:0 20px;}
.drif-type .pop-con-part2 .form-item-wrap + .label{margin-top:25px;}
.layer-pop.deliver-pop.drif-type .pop-con .chk-msg{width:100%;}
.layer-pop.deliver-pop.drif-type .pop-con .chk-msg input[type="checkbox"] + label{font-size:14px;color:#5e6062;}
.layer-pop.drif-type .delivery-btn-area .btn-comp{width:122px;height:35px;border:1px solid #aaaeb1;border-radius:8px;background:#fff;display:flex;justify-content:center;align-items:center;}
.layer-pop.drif-type .delivery-btn-area .btn-comp span{font-size:16px;color:#101010;font-weight:500;}

.layer-pop.deliver-pop.drif-type .pop-con .chk-msg + .chk-msg{margin-top:12px;}

.layer-pop.drif-type .desc-list{width:calc( 100% - 40px );padding-left:40px;height:auto;overflow:Hidden;margin-top:13px;}
.layer-pop.drif-type .desc-list li{width:calc( 100% - 10px );height:auto;overflow:hidden;padding-left:10px;position:relative;font-size:14px;color:#5e6062;line-height:1.43em;}
.layer-pop.drif-type .desc-list li:before{content:"";width:3px;height:3px;overflow:hidden;display:Block;background:#5e6062;border-radius:50%;position:absolute;left:0;top:7px;}

@media screen and (max-width: 769px) {
	.account-item-wrap{width:calc( 100% - 30px );padding:0 15px 15px 15px;}
	.account-item-wrap .account-header-wrap{display:none;}
	.account-status-wrap{display:none;}
	.account-item-wrap .account-info-wrap{border-top:0;margin-top:0;}
	.account-item-wrap .account-info-wrap .account-btn-wrap{bottom:auto;top:15px;}
	.account-item-wrap .login-group-wrap .gtit{height:42px;font-size:14px;}
	.account-item-wrap .login-group-wrap>ul>li{border-radius:10px;width:calc( 100% - 2px );height:auto;margin-bottom:10px;}
	.account-item-wrap .login-group-wrap>ul>li:nth-child(3),
	.account-item-wrap .login-group-wrap>ul>li:nth-child(4){height:auto;}
	.account-item-wrap .login-group-wrap ul li .status-item-wrap{width:100%;height:42px;}
	.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap{margin-left:16px;}
	.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap .npic{width:25px;height:25px;border-radius:4px;}
	.account-item-wrap .login-group-wrap ul li .status-item-wrap .logo-item-wrap .ntxt{margin-left:6px;font-size:14px;}
	.account-item-wrap .login-group-wrap ul li .status-item-wrap button{line-height:23px;margin-right:16px;width:86px;height:23px;border-radius:6px;font-size:12px;}
	.account-item-wrap .account-info-wrap .account-btn-wrap button{line-height:23px;width:86px;height:23px;border-radius:6px;font-size:12px;}
	.account-item-wrap .login-group-wrap ul li ul{width:calc( 100% - 32px );margin:5px auto;}
	.account-item-wrap .login-group-wrap ul li ul li{font-size:10px;}
	.account-item-wrap .account-info-wrap ul li .key{width:88px;font-size:15px;}

	/*추가*/
	.account-item-wrap .line-personalInfo-01{display:none;}
	.account-item-wrap .conts{padding:0;}
	.account-item-wrap .line-personalInfo-02{padding-top:10px;}
	.account-item-wrap .account-btn-wrap{bottom:auto;top:15px;}
	.account-item-wrap .account-btn-wrap button{line-height:23px;width:86px;height:23px;border-radius:6px;font-size:12px;}
	.account-item-wrap .conts .contsTitle{height:42px;font-size:14px;}
	.account-item-wrap ul.list-loginKind > li{border-radius:10px;width:calc( 100% - 2px );padding:0;height:auto;margin-bottom:10px;}
	.account-item-wrap ul.list-loginKind > li:nth-child(3),
	.account-item-wrap ul.list-loginKind > li:nth-child(4){height:auto;}
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt{height:42px;}
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt h5{margin-left:16px;}
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt button{margin-right:16px;line-height:23px;width:86px;height:23px;border-radius:6px;font-size:12px;}
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt h5:before,
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt h5 span.logo{height:25px;width:25px;margin-right:2px;}
	.account-item-wrap ul.list-loginKind > li > dl.column-loginKind > dt h5:after{font-size:14px;}
	.account-item-wrap dl.list-logInfo{width:calc( 100% - 32px );margin:0 auto;padding-bottom:10px;}
	.account-item-wrap dl.column-personalInfo > dd .tag{border-radius:8px;}

	.cpif-item-wrap{width:calc( 100% - 30px );padding:0 15px 15px 15px;}
	.cpif-item-wrap .account-header-wrap{display:none;}
	.cpif-item-wrap .account-status-wrap{display:block;}
	.cpif-item-wrap .account-status-wrap .atit{padding-bottom:14px;font-size:16px;}
	.cpif-item-wrap .conts{border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;padding:0;}
	.cpif-item-wrap .line-noData .btns{position:absolute;right:15px;top:20px;margin:0;}
	.cpif-item-wrap .line-noData{padding:16px 0 16px 60px;height:54px;}
	.cpif-item-wrap .line-noData .desc{font-size:14px;color:#000;font-weight:500;}
	.cpif-item-wrap .cpif-ico-wrap{width:50px;height:50px;}
	.cpif-item-wrap .line-conts.noData{padding-top:15px;}
	.cpif-item-wrap .line-conts.noData .desc{margin-bottom:0;padding-top:16px;padding-bottom:16px;font-size:12px;}
	.cpif-item-wrap .line-conts.noData .btn{width:100%;height:50px;border-radius:12px;font-size:16px;}
	.cpif-item-wrap .conts .contsTitle{font-size:14px;padding-top:16px;}
	.cpif-item-wrap .box-desc{padding-top:16px;font-size:12px;margin-bottom:0;}
	.cpif-item-wrap .block-link{display:block;width:calc( 100% - 40px );margin:0 auto;}
	.cpif-item-wrap .block-link .box-link{width:100%;margin:16px auto 0 auto;}
	.cpif-item-wrap .block-link .box-link h5{font-size:14px;height:33px;line-height:33px;}
	.cpif-item-wrap .block-link .box-link .desc{font-size:11px;padding:14px 25px;}
	.cpif-item-wrap .block-link .box-link .btn{height:23px;font-size:12px;margin-bottom:24px;}
	.cpif-item-wrap .line-personalInfo-01{border-top:1px solid #e3e3e3;padding:15px 0;}
	.cpif-item-wrap .line-personalInfo-01 .kit-profilePic{margin-right:10px;}
	.cpif-item-wrap .line-personalInfo-01 .kit-profilePic .pic{width:54px;height:54px;}
	.cpif-item-wrap .line-personalInfo-01 .box-memberInfo .memberNm{font-size:14px;}
	.cpif-item-wrap .line-personalInfo-01 .box-memberInfo{margin-top:0;}
	.cpif-item-wrap .line-personalInfo-01 .kit-memberType{left:64px;top:45px;height:20px;line-height:20px;border-radius:10px;}
	.cpif-item-wrap .line-personalInfo-01 .kit-memberType:before{width:20px;height:20px;}
	.cpif-item-wrap .line-personalInfo-01 .kit-memberType.gold:after{font-size:10px;}
	.cpif-item-wrap .link-btn-wrap{display:none;}
	.cpif-item-wrap .line-personalInfo-02{overflow:visible;}
	.cpif-item-wrap .account-btn-wrap{bottom:auto;top:-72px;}

	/*내정보 수정*/
	.mdfy-item-wrap{width:calc( 100% - 32px );padding:0 16px;}
	.basket-wrap2 .mdfy-item-wrap .basket-process-wrap{width:100%;}
	.basket-wrap2 .mdfy-item-wrap .kit-input input{}
	.basket-wrap2 .mdfy-item-wrap .row-input{margin-bottom:8px;}
	.basket-wrap2 .mdfy-item-wrap .kit-input{height:41px;}
	.basket-wrap2 .mdfy-item-wrap .kit-input input + label{top:12px;}
	.basket-wrap2 .mdfy-item-wrap .kit-input input[disabled] + label, .basket-wrap2 .mdfy-item-wrap .kit-input.disabled input + label, .basket-wrap2 .mdfy-item-wrap .kit-input input:focus + label, .basket-wrap2 .mdfy-item-wrap .kit-input input.valued + label{top:2px;}
	.basket-wrap2 .mdfy-item-wrap .kit-input input[disabled], .basket-wrap2 .mdfy-item-wrap .kit-input.disabled input, .basket-wrap2 .mdfy-item-wrap .kit-input input:focus, .basket-wrap2 .mdfy-item-wrap .kit-input input.valued{padding-top:7px;}
	.basket-wrap2 .mdfy-item-wrap .pull-right{float:left;margin-top:8px;}
	.basket-wrap2 .mdfy-item-wrap .btn.blue{width:160px;height:35px;font-size:14px;color:#5e6062;}
	.basket-wrap2 .mdfy-item-wrap dl.column-view{display:flex;justify-content:flex-start;align-items:center;width:100%;padding-bottom:8px;}
	.basket-wrap2 .mdfy-item-wrap dl.column-view > dd{color:#000;width:100%;flex:1;height:30px;position:relative;}
	.basket-wrap2 .mdfy-item-wrap dl.column-view > dd .btn.small{float:right;margin:0;position:absolute;right:0;top:0;}
	.basket-wrap2 .mdfy-item-wrap .row-input h6{border-top:1px solid #e3e3e3;margin-top:20px;font-size:14px;color:#000;margin-bottom:10px;}
	.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li{height:58px;width:25%;padding:3px;}
	.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li span{height:58px;font-size:12px;}
	.basket-wrap2 .mdfy-item-wrap ul.list-checkSquare > li input[type="checkbox"]:checked:after{width:10px;height:10px;}
	.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp2{display:none;}
	.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp{height:50px;}
	.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area .btn-comp span{font-size:16px;}
	.basket-wrap2 .mdfy-item-wrap .basket-process-wrap .delivery-btn-area{margin-top:-30px;}

    .cpif-tabmenu-wrap:before{display:none;}
    .cpif-tabmenu-wrap{margin:20px 0 18px 0;}
    .cpif-tabmenu-wrap ul li{width:50%;}
    .cpif-tabmenu-wrap ul li a{height:40px;border:0;font-size:14px;color:#000;width:100%;}
    .cpif-tabmenu-wrap ul li a.on{border-bottom:1px solid #0e89e8;color:#0e89e8;}
    .cpif-item-wrap .tbl-wrap .tbl-basic thead th{background:#fff;height:28px;border-left:1px solid #cbcbcb;font-size:10px;color:#333;font-weight:bold;}
    .cpif-item-wrap .tbl-wrap .tbl-basic thead th:before{display:none;}
    .cpif-item-wrap .tbl-wrap .tbl-basic thead th:first-child{border-left:0;}
    .cpif-item-wrap .tbl-wrap .tbl-basic td{height:28px;font-size:10px;border-left:1px solid #cbcbcb;}
    .cpif-item-wrap .tbl-wrap .tbl-basic tr>td:first-child{border-left:0;}
    .cpif-item-wrap ul.list-desc > li{font-size:10px;}
    .cpif-item-wrap ul.list-desc > li:before{width:2px;height:2px;top:6px;}
    .cpif-item-wrap .tbl-wrap.scrolls{width:100%;height:auto;overflow:hidden;overflow-x:auto;}
    .cpif-item-wrap .tbl-wrap.scrolls .tbl-basic{min-width:700px;margin-bottom:0;}
    .cpif-item-wrap .tbl-wrap .tbl-basic td button{height:20px;width:60px;font-size:10px;border-radius:5px;}
    .cpif-item-wrap .tbl-wrap.scrolls + ul.list-desc{margin-top:23px;}
    .basket-wrap2 .mdfy-item-wrap .pull-right{display:none;}
    .mdfy-item-wrap .mob-label{width:100%;height:auto;overflow:hidden;display:block;text-align:right;font-size:14px;color:#666;font-weight:500;padding-bottom:8px;}
    .mdfy-item-wrap .text-center{display:none;}
    .mdfy-item-wrap .line{margin-top:-18px;}
    .basket-wrap2 .mdfy-item-wrap .line + .basket-process-wrap .box-input{padding-top:16px;}
    .mdfy-item-wrap .row-caption .label{position:static;}
    .basket-wrap2 .mdfy-item-wrap .row-input + .row-caption{padding-top:8px;}
    .basket-wrap2 .mdfy-item-wrap .pull-right.type01{display:inline;position:absolute;right:0;top:0;margin-top:0;}
    .mdfy-item-wrap .btn.arrow-right{background:none;padding:0;}
	.account-item-wrap ul.list-destination + dl.column-blank{height:113px;}
	.account-item-wrap dl.column-blank > dt{width:73px;}
	dl.column-blank > dd{width:calc( 100% - 73px );}
	.account-item-wrap dl.column-blank > dd{font-size:12px;color:#333;padding-left:15px;}

	.account-item-wrap ul.list-destination > li{border-radius:8px;padding:16px;height:145px;position:relative;display:block;}
	.account-item-wrap ul.list-destination > li > .control{width:100%;}
	.account-item-wrap ul.list-destination > li > .control .appoint{position:absolute;right:15px;top:15px;}
	.account-item-wrap ul.list-destination > li > .control .btns .btn{text-indent:0px;margin-left:6px;background:#fff;width:86px;height:23px;border-radius:6px;font-size:12px;color:#5e6062;}
	.account-item-wrap ul.list-destination > li > .control .appoint label:after{text-indent:0px;}
	.account-item-wrap .delivery-btn-area{padding-top:60px;}
	.account-item-wrap .delivery-btn-area .btn-comp2{display:none;}
	.account-item-wrap .delivery-btn-area .btn-comp{width:100%;height:50px;font-size:16px;color:#fff;font-weight:bold;}

	.layer-pop.deliver-pop.drif-type{padding:0;width:calc( 100% - 40px );height:auto;overflow:hidden;position:relative;border-radius: 12px;box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);}
	.layer-pop.drif-type .pop-head{position:static;justify-content:center;font-size:16px;}
	.layer-pop.drif-type .pop-close{position:absolute;display:none;}
	.layer-pop.deliver-pop.drif-type .pop-con{padding:16px;}
	.drif-type .pop-con-part2 .label{font-size:15px;color:#000;}
	.drif-type .pop-con-part2 .form-item-wrap{margin-top:8px;}
	.drif-type .pop-con-part2 .form-item-wrap .inp{height:39px;font-size:14px;border-radius:8px;padding:0 15px;width:calc( 100% - 32px );}
	.layer-pop.drif-type .delivery-btn-area .btn-comp{width:100%;height:50px;}
	.layer-pop.drif-type .delivery-btn-area .btn-comp span{font-size:16px;color:#023b69;font-weight:bold;}
	.layer-pop.drif-type .delivery-btn-area{margin-top:20px;}
	.layer-pop.drif-type .desc-list li{font-size:10px}
	.layer-pop.drif-type .desc-list li:before{width:2px;height:2px;top:5px;}
	.layer-pop.deliver-pop.drif-type .pop-con .chk-msg input[type="checkbox"] + label{font-size:12px;}
}











