

@media screen and (min-width: 768px) {
    .join-wrap.login {
        width: 500px;
        margin: 0 auto;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}
.join-wrap.login .join-tt {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #010101;
}
.join-wrap.login .join-form-area {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .join-wrap.login {
        width: auto;
        margin: 0 10px;
    }
}




.tabs {
}
.tabs button {
    width: 247px;
    height: 93px;
    line-height: 115px;
    font-size: 20px;
    font-weight: 600;
    color: #010101;
    border-bottom: solid 3px transparent;
}
.tabs button.on {
    font-weight: bold;
    color: #0e89e8;
    border-bottom: solid 3px #0e89e8;
    cursor:  default;
}

.tabConts .tabCont {
    display: none;
}
.tabConts .tabCont.on {
    display: block;
}


@media screen and (max-width: 768px) {
    .tabs button {
        width: 50%;
    }
}


.join-wrap .join-btn-area {
    margin-top: 30px;
}


.account-btn-area {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}
.account-btn-area [class*=btn-] {
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 58px;
    color: #666;
}
.account-btn-area [class*=btn-]:before {
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    width: 1px;
    height: 10px;
    background: #e0e0e0;
}
.account-btn-area [class*=btn-]:first-child:before {
    display: none;
}
@media screen and (max-width: 768px) {
    .account-btn-area [class*=btn-] {
        font-size: 15px;
    }
}

.sns-btn-area {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.sns-btn-area a {
    width: 50px;
    height: 50px;
    margin: 0 13px;
    border-radius: 50%;
    background: #ffffff no-repeat center center;
}
.sns-btn-area a.naver {
    background-image: url(https://resource.mall.castingn.com/static/images/ico_naver.png);
    background-color: #21c802;
}
.sns-btn-area a.kakao {
    background-image: url(https://resource.mall.castingn.com/static/images/ico_kakao.png);
    background-color: #fbe718;
}
.sns-btn-area a.google {
    background-image: url(https://resource.mall.castingn.com/static/images/ico_google.png);
    border: 1px solid #e3e3e3;
}
.sns-btn-area a.facebook {
    background-image: url(https://resource.mall.castingn.com/static/images/ico_facebook.png);
    background-color: #3c58a9;
}


.join-wrap.login .join-partner {
    margin-top: 27px;
    border-top: 1px solid #eeeeee;
    padding-top: 27px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.join-wrap.login .join-partner a {
    display: flex;
    align-items: center;
}
.join-wrap.login .join-partner a span {
    font-size: 14px;
    font-weight: 500;
    color: #010101;
}
.join-wrap.login .join-partner .ico-partner-arrow {
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://resource.mall.castingn.com/static/images/ico-partner-arrow.png) center no-repeat;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .join-wrap.login .join-partner {
        justify-content: center;
    }
    .join-wrap.login .join-partner a span {
        font-size: 16px;
    }
}