
/*회원가입*/
.join-slc-wrap .join-tt{font-size:20px;color:#000;font-weight:bold;}
.join-slc-wrap .join-slc-form .btn-join{}
.join-slc-wrap .other-join-form .other-txt{}
.join-slc-wrap .other-join-form .other-join-btn .btn-other-join.btn-naver .join-txt,
.join-slc-wrap .other-join-form .other-join-btn .btn-other-join.btn-kakao .join-txt,
.join-slc-wrap .other-join-form .other-join-btn .btn-other-join.btn-google .join-txt,
.join-slc-wrap .other-join-form .other-join-btn .btn-other-join.btn-fb .join-txt{padding-right:15px;}
.join-slc-wrap{width:328px;}
.join-slc-wrap .join-slc-form .btn-join span{font-size:18px;}
.join-slc-wrap .join-partner-wrap .join-partner-tt dt{font-size:18px;}

.join-wrap .join-title{font-size:20px;color:#000;font-weight:bold;}
.join-wrap .join-content .join-disc{font-size:16px;color:#000;font-weight:500;}
.join-wrap .join-content .join-form-area .form-ip-area input{font-size:16px;font-weight:300;}
.join-wrap .join-content .join-form-area .form-error{margin-left:0;margin-top:5px;}
.join-wrap .join-content .join-form-area .form-error i{margin-right:6px;}
.join-wrap .join-content .join-form-area .form-error span{font-size:13px;}
.join-wrap .join-content .join-form-area .form-right-btn{margin-top:10px;}
.join-wrap .join-content .join-form-area .form-right-btn .btn-blue{width:100px;height:30px;overflow:hidden;background:#fff;border-radius:8px;padding:0;border:1px solid #c8c8c8;display:flex;justify-content:center;align-items:center;}
.join-wrap .join-content .join-form-area .form-right-btn .btn-blue span{font-size:12px;color:#101010;}
.join-wrap .join-content .join-form-area .form-right-btn .btn-blue .ico-send{display:none;}
.join-wrap .join-content .join-form-area .form-ip-area.btn-type .btn-re-send{width:54px;height:23px;border-radius:6px;border:1px solid #aaaeb1;background:#fff;padding:0;display:flex;justify-content:center;align-items:center;font-size:12px;color:#101010;top:14px;}
.join-wrap .join-btn-area{display:flex;justify-content:center;align-items:center;}
.join-wrap .join-btn-area .btn-comp{max-width:240px;}

.join-wrap .join-content .join-disc{display:flex;justify-content:center;align-items:center;flex-direction:column;line-height: 1.67em;font-size:18px;color:#000;font-weight:500;}
.join-wrap .join-content .join-disc .ico-smile{margin-bottom:12px;}
.join-wrap .join-content .provision-box .provision-area{font-size:14px;line-height:1.5em;}
.join-wrap .join-content .join-form-area{border-top:1px solid #f0f0f0;padding-top:15px;}
.join-wrap .join-content .join-form-area .join-txt{text-align: center; font-size: 16px; color: #222; font-weight: 500; line-height: 25px; margin-top: 12px;}

.join-wrap .join-content .id-sel-box{height: 236px; overflow-y: auto; box-sizing: border-box; padding: 15px 0; background: #f9f9fa; margin-top: 28px;}
.join-wrap .join-content .id-sel-box ul li{width: 384px; height: 82px; border-radius: 8px; border: 1px solid #e5e5e5; background: #fff; margin: auto; position: relative; box-sizing: border-box; padding: 12px 0 0 78px; margin-bottom: 8px; }
.join-wrap .join-content .id-sel-box ul li:last-child{margin-bottom: 0;}
.join-wrap .join-content .id-sel-box ul li label{width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; cursor: pointer; border-radius: 8px;}
.join-wrap .join-content .id-sel-box ul li label.on{border: 1px solid #0e89e8;}
.join-wrap .join-content .id-sel-box ul li label input[type="radio"]{cursor:pointer;outline:none;display:flex;background:#d7d9db; width:20px;height:20px;border-radius:50%;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none; position: absolute; left: 16px; top: 31px;}
.join-wrap .join-content .id-sel-box ul li label input[type="radio"]:checked{background: #ffffff; border: 5px solid #0e89e8;}
.join-wrap .join-content .id-sel-box ul li div > span{display: block; font-size: 12px; letter-spacing: -0.01px; color: #5e6062; font-weight: 500;}


.join-wrap .join-content .provision-txt{font-size:18px;color:#000;font-weight:300;}
.join-wrap .join-content .provision-txt .t-emerald{font-size:18px;color:#000;font-weight:500;}
.join-wrap .join-content .join-agree-area{margin-top:0;}
.join-wrap .join-content .join-agree-area .agree-item{height:60px;padding:0;display:flex;justify-content:flex-start;align-items:center; font-size: 16px;}
.join-wrap .join-content .join-agree-area .agree-item input + label.all-label p{font-size:16px;font-weight:bold;}
.join-wrap .join-content .join-agree-area .agree-item input[type=checkbox]{display:flex;margin-right:6px;}
.join-wrap .join-content .join-agree-area .agree-item input[type=checkbox]{cursor:pointer;outline:none;float:left;background:#fff;border:2px solid #dedede;width:20px;height:20px;border-radius:6px;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none;}
.join-wrap .join-content .join-agree-area .agree-item input[type=checkbox]:checked{width:20px;height:20px;background: #fff url(https://resource.mall.castingn.com/static/images/ico-chkbox-chk.png) center no-repeat;}
.join-wrap .join-content .join-agree-area .agree-item input[type=checkbox]::-ms-check{outline:none;appearance: none;-moz-appearance: none;-webkit-appearance: none;width:20px;height:20px;content:"";background:#fff;border-radius: 6px;border:2px solid #dedede;}
.join-wrap .join-content .join-agree-area .agree-item input[type=checkbox]:checked::-ms-check{color:transparent;background: #fff url(https://resource.mall.castingn.com/static/images/ico-chkbox-chk.png) center no-repeat;}
.join-wrap .join-content .t-red{color: #f00;}
.join-wrap .join-content .join-form-area.type01{border-top:0;padding-top:0;width:100%;}
.join-wrap .join-content .provision-box2 .provision-area{font-size:14px;line-height:1.5em;}
.join-wrap .join-btn-area .btn-comp span{font-size:18px;}
.join-wrap .join-content .join-disc{font-weight:bold;font-size:20px;}
.join-wrap .join-content .join-form-area .user-info dl dt{font-size:17px;}
.join-wrap .join-content .join-form-area .user-info dl dd{font-size:17px;}
.join-wrap .join-content .join-form-area .form-error{display:flex;justify-content:flex-start;align-items:center;}
.join-wrap .join-content .join-form-area .form-error .ico-error{margin-right:5px;}
.join-wrap .join-content .join-form-area .form-disc{padding-bottom:28px;line-height:1.56em;width:100%;height:auto;overflow:hidden;text-align:center;font-size:16px;color:#000;font-weight:500;}
.join-wrap .join-content .join-form-area .form-disc .t-emerald{font-size:16px;color:#0e89e8;font-weight:500;}
.join-wrap .join-content .join-form-area.type02{width:690px;}
.join-wrap .join-content .join-form-area.type03{width:690px; border-top: none;}
.join-wrap .join-content .join-form-area .chk-txt{display: flex; align-items: center; margin-top: 35px; justify-content: center;}
.join-wrap .join-content .join-form-area .chk-txt input[type=checkbox]{cursor:pointer;outline:none;display:flex;background:#fff;border:2px solid #dedede;width:20px;height:20px;border-radius:6px;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none;}
.join-wrap .join-content .join-form-area .chk-txt input[type=checkbox]:checked{width:20px;height:20px;background: #fff url(https://resource.mall.castingn.com/static/images/ico-chkbox-chk.png) center no-repeat; border: 2px solid #3f88e1;}
.join-wrap .join-content .join-form-area .chk-txt span{margin-left: 8px; font-size: 14px; color: #222;}

.user-position-slc .position-item input[type="checkbox"] + label{height:66px;}
.user-position-slc .position-item input[type="checkbox"] + label span{font-size:14px;}
.user-position-slc .position-item input[type="checkbox"]:checked + label:before{width:22px;height:22px;border-radius:50%;}
.join-wrap .membership-benefit .benefit-tt dt{font-size:18px;}
.join-wrap .membership-benefit .benefit-tt dd{font-size:14px;line-height:1.5em;}
.join-wrap .join-content .membership-join{margin-top:12px;display:flex;justify-content:flex-start;align-items:center;}
.join-wrap .join-content .membership-join input[type="checkbox"] + label{justify-content:flex-start;}
.join-wrap .join-content .membership-join.po-type1 input[type="checkbox"] + label{justify-content: center; margin-top: 26px; margin-bottom: -25px;}

.join-wrap .join-content .membership-join input[type="checkbox"] + label span{font-size:14px;color:#000;font-weight:500;}
.join-wrap .member-use-wrap .member-use-box .benefit-tt dt{font-size:16px;color:#333;font-weight:bold;}
.join-wrap .member-use-wrap .member-use-box .benefit-tt dd{font-size:12px;color:#666;font-weight:500;}
.join-wrap .member-use-wrap .member-use-box .box-btn{height:40px;}
.join-wrap .member-use-wrap .member-use-box .box-btn span{font-size:15px;}
.join-wrap .member-use-wrap .member-use-box .box-btn:after{display:none;}
.join-wrap .join-content .join-form-area.type02 .ftit{width:100%;height:auto;overflow:hidden;font-size:18px;color:#000;font-weight:500;text-align:center;padding-bottom:13px;}
.join-form-area.type02 .already-tt{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);border: solid 1px #d9d9d9;background-color: #fff;width:327px;height:37px;display:flex;justify-content:center;align-items:center;font-size:14px;color:#101010;font-weight:500;margin:0 auto 8px auto;border-radius:6px;position:relative;}
.join-form-area.type02 .already-tt:after{content: '';position: absolute;
    border-style: solid;border-width: 10px 6px 0px 6px;border-color: #fff transparent;display: block;width: 0;z-index: 1;bottom:-8.5px;left:50%;margin-left:-5px;
}
.join-form-area.type02 .already-tt:before{content: '';position: absolute;
    border-style: solid;
    border-width: 10px 6px 0px 6px;
    border-color: #d9d9d9 transparent;
    display: block; width: 0; z-index: 0; bottom:-10px; left:50%; margin-left:-5px;}




.already-join-wrap .already-cont{}
.already-join-wrap .already-cont .already-item{}
.already-join-wrap .already-cont .already-item dt{font-size:17px;color:#333;}
.already-join-wrap .already-cont .already-item dt strong{font-size:17px;color:#333;font-weight:bold;}
.already-join-wrap .already-cont .already-item dd{}
.already-join-wrap .already-cont .already-item dd li{font-size:13px;color:#999;}

.join-wrap .join-content .join-disc{font-size:20px; color:#000; font-weight:bold; line-height:25px;}
.join-wrap .join-content .join-disc.type01{margin-bottom: 19px;}
.join-wrap .join-content .join-disc span{display:block;font-size:15px;color:#000;font-weight:300;}
.join-wrap .join-content .join-disc span.t01{padding-top:8px;}
.add-sns-wrap{border:1px solid #0e89e8;border-radius:15px;padding:0;}
.add-sns-wrap .add-option{height:40px;background:#0e89e8;display:flex;justify-content:center;align-items:center;}
.add-sns-wrap .add-option i{display:flex;font-weight:24px;color:#fff;}
.add-sns-wrap .add-option span{display:flex;font-weight:15px;color:#fff;font-weight:bold;margin-left:7px;}
.add-sns-wrap .add-cont{width:calc( 100% - 32px );padding:0 16px;}
.add-sns-wrap .add-cont .add-item{padding:16px 0;}
.add-sns-wrap .add-cont .add-item dl{}
.add-sns-wrap .add-cont .add-item dl dt{display:flex;justify-content:flex-start;align-items:center;}
.add-sns-wrap .add-cont .add-item dl dt .ico-naver {display:flex;width:31px; height:31px; background:url(https://resource.mall.castingn.com/static/images/ico-already-naver.png) center no-repeat;}
.add-sns-wrap .add-cont .add-item dl dt .ico-kakao {display:flex;width:31px; height:31px; background:url(https://resource.mall.castingn.com/static/images/ico-already-kakao.png) center no-repeat;}
.add-sns-wrap .add-cont .add-item dl dt .ico-fb {display:flex;width:31px; height:31px; background:url(https://resource.mall.castingn.com/static/images/ico-already-fb.png) center no-repeat;}
.add-sns-wrap .add-cont .add-item dl dt .ico-google {display:flex;width:31px; height:31px; background:url(https://resource.mall.castingn.com/static/images/ico-already-google.png) center no-repeat;}
.add-sns-wrap .add-cont .add-item dl dt strong{display:flex;margin-left:12px;font-size:17px;color:#333;font-weight:bold;}
.add-sns-wrap .add-cont .add-item dl dt span{display:flex;font-size:17px;color:#333;font-weight:300;}
.add-sns-wrap .add-cont .add-item dl dd{margin-top:6px;font-size:12px;color:#999;}
.already-join-tt{}
.already-join-wrap{}
.join-wrap .join-btn-area.type01{}
.join-wrap .join-btn-area.type01 .btn-comp{height:50px;border:1px solid #c8c8c8;background:#fff;border-radius:12px;}
.join-wrap .join-btn-area.type01 .btn-comp span{color:#101010;}
.join-wrap .join-btn-area.type01 .btn-sns-add{margin:0 0 0 4px;max-width:240px;height:50px;border-radius:12px;background-image: linear-gradient(163deg, #59bb93 14%, #0e89e8 86%);}
.join-wrap .join-btn-area.type01 .btn-sns-add span{color:#fff;margin:0;}

.join-wrap .join-content .join-form-area .join-form .form-sec .form-center-btn{margin-top:16px;width:100%;height:auto;overflow:hidden;}
.join-wrap .join-content .join-form-area .join-form .form-sec .form-center-btn button{width:100%;height:50px;border-radius:12px;overflow:hidden;background-image: linear-gradient(144deg, #59bb93 36%, #0e89e8 64%);font-size:16px;color:#fff;font-weight:500;}

.login-link-list{margin-top:30px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center; border-bottom: 1px solid #f0f0f0; padding-bottom: 25px;}
.login-link-list li{display:inline-flex;justify-content:center;align-items:center;padding:0 25px;position:relative;}
.login-link-list li:before{content:"";width:1px;height:10px;overflow:hidden;display:block;background:#c8c8c8;position:absolute;left:0;top:50%;margin-top:-5px;}
.login-link-list li:first-child:before{display:none;}
.login-link-list li a{font-size:15px;color:#101010;}

.login-sns-list{margin-top:50px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.login-sns-list li{width:35px;height:35px;overflow:hidden;margin:0 31px;}
.login-sns-list li a{width:35px;height:35px;border-radius:4px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.login-sns-list li:nth-child(1) a{background:#3c59a9;}
.login-sns-list li:nth-child(2) a{background:#fff;border:1px solid #ddd;width:33px;height:33px;}
.login-sns-list li:nth-child(3) a{background:#ffe812;}
.login-sns-list li:nth-child(4) a{background:#21c802;}

.login-sns-list li a i {display:block; width:30px; height:30px; background-position:center; background-repeat:no-repeat;}
.login-sns-list li a i.ico-naver {background-image:url(https://resource.mall.castingn.com/static/images/ico-join-naver.png);}
.login-sns-list li a i.ico-kakao {background-image:url(https://resource.mall.castingn.com/static/images/ico-join-kakao.png);}
.login-sns-list li a i.ico-google {background-image:url(https://resource.mall.castingn.com/static/images/ico-join-google.png);}
.login-sns-list li a i.ico-fb {background-image:url(https://resource.mall.castingn.com/static/images/ico-join-fb.png);}

.join-wrap .join-content .join-disc.t01{font-size:16px;color:#000;font-weight:500;line-height:1.56em;}
.join-slc-wrap .join-sdesc{margin-top:42px;width:100%;padding-top:27px;border-top:1px solid #f0f0f0;height:auto;overflow:Hidden;text-align:center;font-size:16px;color:#000;font-weight:500;line-height:1.56em;}
.join-slc-wrap .join-sdesc.t01{padding-top:0;border-top:0;}

.join-slc-wrap.type01{width:500px;}
.tree-list-wrap{width:100%;height:auto;overflow:hidden;margin:28px auto 0 auto;}
.tree-list-wrap .ztree{border-top:1px solid #f0f0f0;}
.tree-list-wrap .ztree li span.button.add{display:none;}
.tree-list-wrap .ztree li{}
.tree-list-wrap .group-btn-wrap{width:100%;height:auto;overflow:hidden;padding:50px 0;display:flex;justify-content:center;align-items:center;}
.tree-list-wrap .group-btn-wrap button{width:240px;height:58px;overflow:Hidden;background-image: linear-gradient(163deg, #59bb93 14%, #0e89e8 86%);border-radius:12px;display:flex;justify-content:center;align-items:center;font-size:18px;color:#fff;padding:0;}

/**/
.tree-list-wrap .ztree li span.button.root_close{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.roots_close{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.root_open{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-close.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.roots_open{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-close.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.center_close{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.center_open{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-close.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}

.tree-list-wrap .ztree li span.button.bottom_docu{background: url(https://resource.mall.castingn.com/static/images/ico-arr-down.png) left/100% no-repeat; transform: rotate(180deg);}
.tree-list-wrap .ztree li span.button.level1.bottom_docu{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.level2.bottom_docu{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.level1.center_docu{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}

.tree-list-wrap .ztree li span.button.bottom_open{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-close.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li span.button.bottom_close{background:url(https://resource.mall.castingn.com/static/images/account/ico-tree-open.png) no-repeat;background-size:18px 18px;width:18px;height:18px;transform: rotate(0deg);}
.tree-list-wrap .ztree li ul li{position:relative;}
.tree-list-wrap .ztree li ul li:before{content:"";display:block;width:10px;height:10px;overflow:Hidden;background:url(https://resource.mall.castingn.com/static/images/account/bg-children.svg) no-repeat;position:absolute;left:-15px;top:20px;}

/**/
.tree-list-wrap .ztree li span{font-size:14px;color:#000;}
.tree-list-wrap .ztree li span.button.roots_open + span + a span{font-size:16px;font-weight:bold}
.tree-list-wrap .ztree li a{}
.tree-list-wrap .ztree{ }

.jcomplete-msg{display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;height:auto;overflow:hidden;border-top:1px solid #f0f0f0;padding-top:27px;margin-top:42px;font-size:19px;color:#101010;font-weight:bold;}
.jcomplete-msg i{margin-bottom:12px;width:40px;height:40px;background-size:40px 40px;}
.jcomplete-list{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:50px;}
.jcomplete-list li{margin-top:30px;width:100%;height:auto;overflow:hidden;text-align:center;line-height:1.44em;font-size:16px;color:#101010;}
.jcomplete-list li:first-child{margin-top:60px;}
.jcomplete-list li strong{font-size:16px;color:#101010;font-weight:bold;}
.jcomplete-list li strong.blue{color:#0e89e8;}
.jcomplete-list li .email{padding:0 5px;display:inline-flex;justify-content:center;align-items:center;border-radius:6px;height:28px;border:1px solid #d9d9d9;background:#f0f0f0;font-size:16px;color:#101010;font-weight:bold;}
.jcomplete-btn-wrap{width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;padding:50px 0;}
.jcomplete-btn-wrap button{width:240px;height:58px;border-radius:12px;overflow:hidden;display:flex;justify-content:center;align-items:center;background-image: linear-gradient(163deg, #59bb93 14%, #0e89e8 86%);font-size:18px;color:#fff;}

.join-wrap .join-content .join-disc.t02{font-size:16px;color:#000;font-weight:500;line-height:1.56em;}
.join-wrap .join-content .join-disc.t02 + .join-form-area{border-top:0;padding-top:0;}

@media screen and (max-width: 769px) {
  .join-wrap .join-content .provision-txt .t-emerald{font-size:14px;}
  .join-wrap .join-content .provision-txt{font-size:14px;line-height:1.5em;}
  .join-wrap .join-btn-area .btn-comp{max-width:100%;height:50px;}
  .join-wrap .join-btn-area .btn-comp span{font-size:16px;}
  .join-wrap .join-content .join-disc{font-size:20px; font-weight: bold;}
  .join-wrap .join-content .join-form-area .form-ip-area input{height:46px;font-size:14px;}
  .join-slc-wrap .join-slc-form .btn-join span{font-size:16px;}
  .join-slc-wrap .join-tt{font-size:18px;}
  .join-slc-wrap .other-join-form .other-join-btn .btn-other-join span{font-size:18px;}

  .login-link-list{margin-top:25px;}
  .login-link-list li{padding:0 10px;}
  .login-link-list li a{font-size:13px;}
  .login-sns-list{margin-top:50px;}
  .login-sns-list li{margin:0 10px;}
  .join-slc-wrap{margin:0 auto;}
  .join-slc-wrap.type01{width:calc( 100% - 40px );}
  .join-slc-wrap .join-sdesc{margin-top:0;border-top:0;padding-top:12px;font-size:15px;}
  .join-slc-wrap .join-slc-form .btn-join{height:42px;}
  .join-slc-wrap .join-sdesc.t01{margin-top:0;padding-top:12px;}
  .ztree li span{font-size:16px !important;}
  .tree-list-wrap .group-btn-wrap button,
  .jcomplete-btn-wrap button{height:40px;font-size:16px;}
  .jcomplete-msg{margin-top:0;border-top:0;padding-top:12px;}
  .jcomplete-list{}
  .jcomplete-list li:first-child{margin-top:0;}

  .join-wrap .join-content .join-form-area.type02{width: auto;}
  .join-wrap .join-content .join-form-area .form-disc{margin-bottom: 2px; font-size: 15px; color: #999;}
  .user-position-slc .position-item input[type="checkbox"] + label{height: 62px;}
  .join-wrap .join-content .join-form-area{border-top: none;}

  .join-wrap .join-content .join-disc.t02{font-size: 20px; font-weight: bold; line-height: 25px; margin-bottom: 49px;}

  .join-wrap .join-content .join-disc.type01{margin-bottom: 7px;}
  .join-wrap .join-content .join-form-area.type03{width:100%; border-top: none;}
  .join-wrap .join-content .membership-join.po-type1 input[type="checkbox"] + label{margin-top: 0; margin-bottom: 0;}
}







