.detail-side-wrap .lnb {
	z-index: 2;
	margin-top:30px;
}

.detail-side-wrap {
	padding-top: 0;
}
.detail-top .detail-loca-wrap {
	display: none;
}

.detail-top-wrap.detail-bg {
	position: relative;
}
.detail-top-wrap.detail-bg:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 1px;
	width: 100%;
	height: 380px;
	background: #f2f2f2;

	/* background-image: linear-gradient(to right, #59bb93 80px, #0e89e8 80px); */
}
.detail-top-wrap.detail-bg:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 619px;
	width: 100%;
	height: 127px;
	background-image: linear-gradient(to right, #59bb93 0, #0e89e8 79%);
	z-index:1;
}

.detail-top {
	position: relative;
	z-index:2;
}


dl.column-price {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.56px;
	color: #000;
}
dl.column-price > dt {
}
dl.column-price > dd {
}
dl.column-price {
}
dl.column-price dt span {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: -0.4px;
	color: #32ab8c;
}
dl.column-price.pin > dt {
}
dl.column-price.pin > dt:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: transparent url(https://resource.mall.castingn.com/static/images/sub/ico-list-item.png) no-repeat center center / contain;
}
dl.column-price.pin > dd {
	font-weight: bold;
	color: #4c92f1;
}
dl.column-price.origin > dt {
	font-size:14px;
	color: #999999;
}
dl.column-price.origin > dd {
	font-size:14px;
	color: #999999;
	text-decoration: line-through;
}

.wrap {
	width: calc(100% - 260px);
}
.wrap [class*="floor-"] {
}
.wrap [class*="floor-"] .area {
}
.wrap [class*="floor-"] .line-title {
	line-height: 2.14;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: -1.4px;
	color: #000;
  margin-top: -28px;
  position: relative;
}

.wrap .line-title .btn-more{
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 14px;
  font-weight: normal;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.wrap .line-title .btn-more:after{
  content: '+';
  margin-left: 7px;
}

.floor-visual {
}
.floor-visual .line-visual {
	margin: 0 0px 0 -500px;
}

.floor-visual .line-visual .area {
	position: relative;
	width: 1920px;
	height: 380px;
	background: transparent url(https://workmarket9.com/images/goods/banner_01.png) no-repeat right center / cover;
}
.floor-visual .line-visual .area .swiper-slide {
	position: relative;
	width: 1920px;
	height: 380px;
}
.floor-visual .line-visual .area .slide-01 {
	background-image: url(https://workmarket9.com/images/goods/visual_01.png);
}

.floor-visual .line-visual .area .slide-02 {
	background-image: url(https://workmarket9.com/images/goods/visual_02.png);
}

.floor-visual .line-visual .area .slide-03 {
	background-image: url(https://workmarket9.com/images/goods/visual_03.png);
}


.bt-area.tabs{
  position: absolute;
	left: 630px;
	top: 264px;
}

.bt-area.tabs button{margin-right: 10px;}

.floor-visual .line-visual .area button {
  /*
	position: absolute;
	left: 630px;
	top: 264px;
  */
	height: 38px;
	line-height: 38px;
	padding: 0 30px;
	font-size: 19px;
	border: 1px solid #000000;
	border-radius: 19px;
	color: #000000;
}
.floor-visual .line-visual .area button.btn-view {
	left: 842px;
}




.floor-compare {

}
.floor-compare .area {
	padding: 35px 55px;
}
dl.column-basic {

}
dl.column-basic > dt {
	margin-bottom: 10px;
	font-size: 28px;
}
dl.column-basic > dd {
	line-height: 27px;
	margin-bottom: 26px;
	font-size: 20px;
}
.floor-compare .area .tabs {
	display: flex;
	justify-content: start;
	margin-bottom: 20px;
}
.floor-compare .area .tabs > button {
	height: 40px;
	line-height: 40px;
	margin-right: 6px;
	padding: 0 10px;
	font-size: 16px;
	border: 1px solid #000000;
	border-radius: 20px;
}
.floor-compare .area .tabs > button.on,
.floor-compare .area .tabs > button:hover {
	color: #32ab8c;
	border: 1px solid #32ab8c;
}



.floor-title .line-title {
	background: transparent url(https://workmarket9.com/images/goods/bg_title.png) no-repeat right -30px center / cover;
}
.floor-title .line-title .area {
	padding: 10px 0 0 64px;
}
.floor-title .line-title h4 {
	font-size: 28px;
	font-weight: 600;
	line-height: 2.14;
	letter-spacing: -1.4px;
	color: #fff;
}
.floor-title .line-title .desc {
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: -0.5px;
	color: #fff;
}
.floor-title .line-title .area {
	height: 116px;
}




.floor-service {
	
}
.floor-service .area {
	width: 1420px;
	margin-bottom: 40px; 
	padding: 35px 0 35px 57.5px;
	background: #f7fbfa;
}
.floor-service .area ul.list-pdt {
	width: 1120px;
	display: flex;
}
.floor-service .area ul.list-pdt > li {
	position: relative;
	width: calc(20% - 15px);
	height: 338px;
	margin: 0 7.5px;
	padding: 12.5px;
	border-radius: 8px;
	box-shadow: 0px 1px 8px 0 rgba(134, 134, 134, 0.49);
	border: solid 1px #fff;
	background: #fff url(https://workmarket9.com/images/goods/ico-ranking01.png) no-repeat 10px 10px;
}
.floor-service .area ul.list-pdt > li:nth-child(1) {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking01.png);
}
.floor-service .area ul.list-pdt > li:nth-child(2) {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking02.png);
}
.floor-service .area ul.list-pdt > li:nth-child(3) {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking03.png);
}
.floor-service .area ul.list-pdt > li:nth-child(4) {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking04.png);
}
.floor-service .area ul.list-pdt > li:nth-child(5) {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking05.png);
}


.floor-service .area ul.list-pdt > li .btn-info {
	position: absolute;
	right: 18px;
	top: 177px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: transparent url(https://workmarket9.com/images/goods/ico-s-notice.png) no-repeat center center;
}
.floor-service .area ul.list-pdt > li .box-img {
	width: 142px;
	height: 142px;
	margin: 0 auto 12px;
	padding: 44px 25px 18px;
	border-bottom: 1px solid #dddddd;
}
.floor-service .area ul.list-pdt > li .box-img img {
	width: 100%;
	height: 100%;
}
.floor-service .area ul.list-pdt > li .pdtNm {
	overflow: hidden;
	height: 100%;
	height: 41px;
	margin-bottom: 24px;
}


.floor-service .area {
	width: 1150px;
	margin-bottom: 33px; 
	padding: 10px;
	background: #f7fbfa;
	box-sizing: border-box;
}
.floor-service .area ul.list-service {
	width: 100%;
	display: flex;
	overflow-x: auto;
	padding: 10px;
}
.floor-service .area ul.list-service > li {
	position: relative;
	width: 211px;
	height: 339px;
	margin: 0 7.5px;
	padding: 12.5px;
	border-radius: 8px;
	box-shadow: 0px 1px 8px 0 rgba(134, 134, 134, 0.49);
	border: solid 1px #fff;
	/*background: #fff url(https://workmarket9.com/images/goods/ico-ranking01.png) no-repeat 10px 3px;*/
  background: #fff;
}
.floor-service .area ul.list-service > li:before {
	content: "";
	position: absolute;
	display: block;
	left:10px;
	top: 3px;
	width: 70px;
	height: 37px;
	background: transparent url(https://workmarket9.com/images/goods/ico-ranking01.png) no-repeat left center / auto 100%;
	z-index: 2;
}
.floor-service .area ul.list-service > li:nth-child(1):before {
	/*background-image: url(https://workmarket9.com/images/goods/ico-ranking01.png);*/
}
.floor-service .area ul.list-service > li:nth-child(2):before {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking02.png);
}
.floor-service .area ul.list-service > li:nth-child(3):before {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking03.png);
}
.floor-service .area ul.list-service > li:nth-child(4):before {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking04.png);
}
.floor-service .area ul.list-service > li:nth-child(5):before {
	background-image: url(https://workmarket9.com/images/goods/ico-ranking05.png);
}

.floor-service .area ul.list-service > li .box-img {
	width: 100%;
	height: 167px;
	margin: 0 auto 12px;
}
.floor-service .area ul.list-service > li .box-img img {
	width: 100%;
	height: 100%;
}
.floor-service .area ul.list-service > li .descs {
	padding: 10px;
}
.floor-service .area ul.list-service > li .descs .corpNm {
	margin-bottom: 18px;
	padding-bottom: 11px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #eeeeee;
}
.floor-service .area ul.list-service > li .descs .corpNm span {
	overflow: hidden;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}
.floor-service .area ul.list-service > li  .descs.corpNm span img {
	width: 100%;
	height: 100%;
}
.floor-service .area ul.list-service > li .descs .desc {
	overflow: hidden;
	height: 42px;
	line-height: 20px;
	margin-bottom: 6px;
	font-size: 16px;
	color: #494949;
}
.floor-service .area ul.list-service > li .descs .tags {
	overflow: hidden;
	margin-bottom: 6px;
	font-size: 13px;
	color: #959595;
}


.floor-best {
	margin-bottom: 30px;
	padding-bottom: 47px;
	border-bottom: 1px solid #eeeeee;
}

.floor-best .area {
	width: 1112px;
	padding: 0 32px;
}

.floor-best .area .group-best {
	display: flex;
	justify-content: space-between;
}

.floor-best .area .group-best .box-best {
	position: relative;
	overflow: hidden;
	width: calc(50% - 15px);
	height: 396px;
	border: 1px solid transparent;
	border-radius: 25px;
}
.floor-best .area .group-best .box-best:hover {
	border: 1px solid #0e89e8;
}
.floor-best .area .group-best .box-best img {
	width: 100%;
	height: 100%;
}
.floor-best .area .group-best .box-best .desc {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 85px;
	line-height: 26px;
	text-align: right;
	padding: 15px 50px 0 0;
	background: rgba(0,0,0,0.3);
	box-sizing: border-box;
}
.floor-best .area .group-best .box-best .desc p {
	font-size: 18px;
	color: #ffffff;
}
.floor-best .area .group-best .box-best .desc h6 {
	font-size: 18px;
	color: #ffffff;
}




.floor-case {
	margin-bottom: 30px;
	padding-bottom: 47px;
	border-bottom: 1px solid #eeeeee;
}


.floor-case .area {
	width: 1112px;
	padding: 0 32px;
}

.floor-case .line-title {

}

.floor-case ul.list-case {
	display: flex;
	justify-content: space-between;
}
.floor-case ul.list-case > li {
	overflow: hidden;
	width: 322px;
	padding: 20px;
	border-radius: 15px;
	border: 1px solid transparent;
	background: #ffffff;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.floor-case ul.list-case > li:hover {
	border: 1px solid #0e89e8;
}
.floor-case ul.list-case > li h5 {
	margin-bottom: 10px;
	font-size: 24px;
	color: #59bb93;
}
.floor-case ul.list-case > li .desc {
	overflow: hidden;
	height: 90px;
	line-height: 29px;
	margin-bottom: 10px;
	font-size: 18px;
	color: #2e2e2e;
}
.floor-case ul.list-case > li .tags {
	display: flex;
	justify-content: start;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}
.floor-case ul.list-case > li .tags button {
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	margin: 0 5px;
	font-size: 16px;
	border-radius: 21px;
	border: 1px solid #ececec;
}
.floor-case ul.list-case > li .tags button.on,
.floor-case ul.list-case > li .tags button:hover {
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	margin: 0 5px;
	font-size: 16px;
	border-radius: 21px;
	border: 1px solid #ececec;
}
.floor-case ul.list-case > li .corpInfo {
	display: flex;
	justify-content: space-between;
}
.floor-case ul.list-case > li .corpInfo .corpNmImg {
	height: 22px;
}
.floor-case ul.list-case > li .corpInfo .ceo {
	font-size: 18px;
	color: #5d5d5d;
}




.floor-tip {
	
}
.floor-tip .area {
	width: 1112px;
	padding: 0 32px;
}
.floor-tip .area .line-title {
	
}
.floor-tip .area .line-title .desc {
	line-height: 27px;
	font-size: 20px; 
	color: #3e3e3e;
}
.floor-tip .area ul.list-case {
	display: flex;
	justify-content: space-between;
}
.floor-tip .area ul.list-case > li {
	overflow: hidden;
	width: 265px;
	height: 336px;
	border-radius: 8px;
	border: 1px solid transparent;
	background: #ffffff;
	box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}
.floor-tip .area ul.list-case > li.on,
.floor-tip .area ul.list-case > li:hover {
	border: 1px solid #0e89e8;
}
.floor-tip .area ul.list-case > li .box-img {
	width: 100%;
	height: 210px;
	margin-bottom: 10px;
}
.floor-tip .area ul.list-case > li .box-img img {
	width: 100%;
	height: 100%;
}
.floor-tip .area ul.list-case > li .desc {
	padding: 10px;
}
.floor-tip .area ul.list-case > li .desc h5 {
	margin-bottom: 10px;
	font-size: 17px;
	color: #000000;
}
.floor-tip .area ul.list-case > li .desc .tags {
	overflow: hidden;
	height: 62px;
	line-height: 20px;
	font-size: 14px;
	color: #7c7c7c;
}


.floor-project{
  margin-bottom: 30px;
	padding-bottom: 47px;
	border-bottom: 1px solid #eeeeee;
}

.floor-project .area{
  width: 1112px;
	padding: 0 32px;
}
.floor-project .project-list{}
.floor-project .project-list ul{
  display: flex; 
  flex-direction: column;
}

.floor-project .project-list ul li{
  margin-top: 10px;
}

.floor-project .project-list ul li:first-child{
  margin-top: 0;
}

.floor-project .project-list ul li a{
  border: 1px solid #e4e4e4; 
  box-sizing: border-box; 
  padding:10px 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  border-radius: 5px;
}
.floor-project .project-list .project-stat{
  display: flex;
  align-items: center;
}
.floor-project .project-list .project-stat span{
  width: 65px;
  height: 36px;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.floor-project .project-list .project-stat span.stat-left{
  background: #1dcd91;
  border-radius: 5px 0 0 5px;
}
.floor-project .project-list .project-stat span.stat-right{
  background: #4a96fd;
  border-radius: 0 5px 5px 0;
}
.floor-project .project-list strong{
  font-size: 18px;
  color: #313131;
  font-weight: 600;
  margin-left: 22px;
  width: 14%;
}

.floor-project .project-list p{
  font-size: 18px;
  color: #313131;
  font-weight: 600;
  margin-left: 43px;
}

.floor-project .project-list .ymd{
  font-size: 16px;
  color: #9a9a9a;
  margin-left: auto;
}


@media screen and (min-width:751px) {
	.mobile {
		display: none;
	}
}

@media screen and (max-width:750px) {

	.pc {
		display: none;
	}


	dl.column-price {
		display: flex;
		justify-content: space-between;
		font-size: 10px;
		line-height: 21px;
		letter-spacing: -0.56px;
		color: #000;
	}
	dl.column-price > dt {
	}
	dl.column-price > dd {
	}
	dl.column-price {
	}
	dl.column-price dt span {
		font-size: 16px;
		font-weight: bold;
		line-height: 21px;
		letter-spacing: -0.4px;
		color: #32ab8c;
	}
	dl.column-price.pin > dt {
	}
	dl.column-price.pin > dt:before {
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		/* background: transparent url(https://workmarket9.com/images/goods/) no-repeat center center; */
	}
	dl.column-price.pin > dd {
		font-size: 12px;
		font-weight: bold;
		color: #4c92f1;
	}
	dl.column-price.origin > dt {
		font-size:10px;
		color: #999999;
	}
	dl.column-price.origin > dd {
		font-size:10px;
		color: #999999;
		text-decoration: line-through;
	}

	.wrap {
		width: 100%;
	}
	.wrap [class*="floor-"] {
	}
	.wrap [class*="floor-"] .area {
	}
	.wrap [class*="floor-"] .line-title {
		line-height: 2.14;
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: -1.4px;
		color: #000;
    margin-top: 0;
	}

	.floor-visual {
		
	}
	.floor-visual .line-visual {
		margin: 0;
	}
	.floor-visual .line-visual .area {
		position: relative;
		width: 100%;
		height: 240px;
		background: #efefef url(https://workmarket9.com/images/goods/visual_bg_01m.png) center top/100% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}

  .floor-visual .line-visual .area .visual-tt1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
  }

  .floor-visual .line-visual .area .visual-tt1 .tt-line1{
    font-size: 20px;
    font-weight: 700;
    color: #e93c00;
  }

  .floor-visual .line-visual .area .visual-tt1 .tt-line2{
    font-size: 20px;
    font-weight: 500;
    color: #101010;
  }

  .floor-visual .line-visual .area .visual-tt1 .tt-line2 strong{
    font-size: 24px;
    font-weight: 700;
  }

  .floor-visual .line-visual .area .visual-tt1 .tt-line3{
    font-size: 20px;
    font-weight: 700;
    color: #101010;
  }

  .floor-visual .line-visual .area .bt-area{
    display: flex;
    position: unset;
  }

	.floor-visual .line-visual .area .bt-area button {
    display: flex;
    position:relative;
    width: 170px;
    height: 51px;
    font-size: 17px;
    border: 1px solid #000000;
    border-radius: 41px;
    color: #000000;
    font-weight: 600;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    margin-left: 10px;
 }

	.floor-visual .line-visual .area .slide-03 button {
		position: absolute;
		left: 50%;
		top: 210px;
		width: 250px;
		height: 80px;
		line-height: 80px;
		border-radius: 41px;
		text-indent:0;
		background: none;
		border: 1px solid #000000;
	}
	.floor-visual .line-title {
		background: transparent url(https://workmarket9.com/images/goods/bg_title.png) no-repeat right 19% center / auto 100%;
	}
	.floor-visual .line-title .area {
		padding: 10px 0 0 20px;
	}

	.floor-compare {
		display: none;
	}

	.floor-title .line-title .area {
		height: 74px;
		padding: 10px 0 0 30px;
		box-sizing: border-box;
	}
	.floor-title .line-title h4 {
		font-size: 14px;
		font-weight: 600;
		line-height: 2.14;
		letter-spacing: -1.4px;
		color: #fff;
	}

	.floor-title .line-title .desc {
		font-size: 11px;
		line-height: 1.35;
		letter-spacing: -0.5px;
		color: #fff;
	}

	.floor-service .area {
		width: initial;
	}


	.floor-service .area ul.list-service {
		overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
	}

  .floor-service .area ul.list-service::-webkit-scrollbar{
    display: none;
  }

	.floor-service .area ul.list-service > li {
		flex: 0 0 auto;
	}


	.floor-best .area {
		width: 100%;
		padding: 0 16px;
		box-sizing: border-box;
	}
	.floor-best .area .group-best {
		display: flex;
		flex-direction: column;
	}
	
	.floor-best .area .group-best .box-best {
		width: auto;
		height: auto;
		margin-bottom: 10px;
	}
	.floor-best .area .group-best .box-best .desc {
		height: 55px;
		line-height: 18px;
		padding: 8px 18px 0 0;
	}
	.floor-best .area .group-best .box-best .desc p {
		font-size: 12px;
	}
	.floor-best .area .group-best .box-best .desc h6 {
		font-size: 12px;
	}


	.floor-case .area {
		width: 100%;
		padding: 0 16px;
	}
	.floor-case ul.list-case {
		overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
	}
  
  .floor-case ul.list-case::-webkit-scrollbar{
    display: none;
  }

	.floor-case ul.list-case > li {
		flex: 0 0 auto;
		margin-right: 11px;
		width: 247px;
	}

	.floor-tip .area {
		width: 100%;
		padding: 0 16px;
	}
	.floor-tip .area .line-title .desc {
		display: none;
	}
	.floor-tip .area ul.list-case {
		overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
	}

  .floor-tip .area ul.list-case::-webkit-scrollbar{
    display: none;
  }

	.floor-tip .area ul.list-case > li {
		flex: 0 0 auto;
		margin-right: 11px;
	}

  .floor-project{
    margin-bottom: 30px;
    padding-bottom: 47px;
    border-bottom: 1px solid #eeeeee;
  }
  
  .floor-project .area{
    padding: 0 16px;
    width: auto;
  }

  .floor-project .project-list{}
  .floor-project .project-list ul{
    display: flex; 
    flex-direction: column;
  }
  
  .floor-project .project-list ul li{
    padding: 10px 16px;
    margin: 0 -32px;
  }
  
  .floor-project .project-list ul li:first-child{
    margin-top: 0;
  }
  
  .floor-project .project-list ul li a{
    box-sizing: border-box; 
    padding: 0;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    flex-wrap: wrap;
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 16px 12px;
  }
  .floor-project .project-list .project-stat{
    display: flex;
    align-items: center;
  }
  .floor-project .project-list .project-stat span{
    width: 60px;
    height: 30px;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .floor-project .project-list .project-stat span.stat-left{
    background: #1dcd91;
    border-radius: 5px 0 0 5px;
  }
  .floor-project .project-list .project-stat span.stat-right{
    background: #4a96fd;
    border-radius: 0 5px 5px 0;
  }
  .floor-project .project-list strong{
    font-size: 16px;
    color: #313131;
    font-weight: 600;
    margin-left: 14px;
    width: calc(100% - 142px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .floor-project .project-list p{
    font-size: 16px;
    color: #313131;
    font-weight: 600;
    margin-left: 0;
    width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 7px;
  }
  
  .floor-project .project-list .ymd{
    font-size: 16px;
    color: #9a9a9a;
    margin-left: auto;
    margin-top: 7px;
  }

  .wrap .line-title .btn-more{
    top: 6px;
  }
}


@media screen and (max-width: 540px) {
	.floor-visual .line-visual .area button {
		position: absolute;
		left: 50%;
		top: 178px;
		width: 170px;
		height: 60px;
		line-height: 60px;
		margin-left: -180px;
		padding: 0;
		font-size: 18px;
		border: 1px solid #000000;
		border-radius: 30px;
		color: #000000;
	}
	.floor-visual .line-visual .area button.btn-view {
		position: absolute;
		left: 50%;
		top: 178px;
		width: 170px;
		height: 60px;
		line-height: 60px;
		margin-left: 10px;
		border-radius: 30px;
		text-indent:0;
		background: none;
		border: 1px solid #000000;
	}

  .os-menu-list{
    padding: 10px;
  }

  .os-menu-list ul{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: -2px 3px 10px 1px rgb(0 0 0 / 7%);
    -moz-box-shadow: -2px 3px 10px 1px rgb(0 0 0 / 7%);
    box-shadow: -2px 3px 10px 1px rgb(0 0 0 / 7%);
  }

  .os-menu-list ul li{
    width: 33.3333%;
  }

  .os-menu-list ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    height: 77px;
    width: 100%;
    box-sizing: border-box;
    word-break: keep-all;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    flex-direction: column;
  }

  .os-menu-list ul li:nth-child(3n) a{
    border-right: none;
  }

  .os-menu-list ul li a .ico-osmenu1{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task1-on.png) center/100% no-repeat;}
  .os-menu-list ul li a .ico-osmenu2{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task2-on.png) center/100% no-repeat;}
  .os-menu-list ul li a .ico-osmenu3{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task3-on.png) center/100% no-repeat;}
  .os-menu-list ul li a .ico-osmenu4{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task4-on.png) center/100% no-repeat;}
  .os-menu-list ul li a .ico-osmenu5{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task5-on.png) center/100% no-repeat;}
  .os-menu-list ul li a .ico-osmenu6{width: 40px; height: 40px; background: url(https://resource.mall.castingn.com/static/images/ico-task6-on.png) center/100% no-repeat;}
}


@media screen and (max-width: 500px) {

	.floor-mdPick .area .tabConts > .tabCont > ul.list-mdPick > li {
		width: calc(100% - 16px);
	}
}