@charset "utf-8";

.signup-wrap{width:1080px;height:auto;overflow:hidden;margin:50px auto 120px auto;}
.signup-wrap .signup-msg-wrap{float:left;width:calc( 100% - 457px );height:auto;overflow:hidden;}
.signup-wrap .signup-msg-wrap h1{letter-spacing: -3.75px;font-size:50px;color:#2a7fe7;font-weight:300;width:100%;height:auto;margin-top:75px;line-height:1.24em;}
.signup-wrap .signup-msg-wrap h1 strong{font-size:50px;color:#2a7fe7;font-weight:500;}
.signup-wrap .signup-msg-wrap .desc{font-weight:300;font-size:18px;color:#808080;line-height:1.44em;letter-spacing:-1.35px;padding-top:25px;margin-top:25px;width:364px;height:auto;overflow:hidden;border-top:1px solid #ebebeb;}

.signup-wrap .signup-cont-wrap{width:calc( 456px - 72px );padding-left:72px;height:auto;min-height:580px;border-left:1px solid #ececec;float:right;}
.signup-wrap .signup-cont-wrap h2{width:100%;height:auto;overflow:hidden;margin-top:50px;font-size:60px;color:#000;font-weight:300;}
.signup-wrap .signup-cont-wrap .form-item{margin-top:50px;width:100%;height:auto;overflow:hidden;}
.signup-wrap .signup-cont-wrap .form-item .inp{font-size:16px;color:#000;border:0;height:54px;border-bottom:1px solid #000;display:block;width:100%;}
.signup-wrap .signup-cont-wrap .form-item ul{padding-top:18px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-end;align-items:cent}
.signup-wrap .signup-cont-wrap .form-item ul li{display:flex;padding:0 10px;position:relative;}
.signup-wrap .signup-cont-wrap .form-item ul li:before{content:"";display:block;width:1px;height:13px;overflow:hidden;display:block;background:#e1e1e1;position:absolute;left:0;top:3px;}
.signup-wrap .signup-cont-wrap .form-item ul li:first-child:before{display:none}
.signup-wrap .signup-cont-wrap .form-item ul li:last-child{padding-right:0;}
.signup-wrap .signup-cont-wrap .form-item ul li a{font-size:14px;color:#808080;}
.signup-wrap .signup-cont-wrap .form-item button{margin-top:44px;font-size:16px;color:#fff;display:flex;justify-content:center;align-items:center;width:100%;height:48px;background:#2a7fe7;}
.signup-wrap .sns-login-list{display:flex;justify-content:flex-start;align-items:center;padding-top:30px;margin-top:30px;border-top:1px solid #ebebeb;width:100%;height:auto;overflow:hidden;}
.signup-wrap .sns-login-list ul{margin-top:4px;display:flex;justify-content:flex-start;align-items:center;width:100%;flex:1;height:auto;}
.signup-wrap .sns-login-list ul li{margin-right:4px;width:48px;height:48px;display:flex;justify-content:center;align-items:center;}
.signup-wrap .sns-login-list ul li a{}
.signup-wrap .sns-login-list ul li img{width:48px;height:48px;}
.signup-wrap .sns-login-list .join-link{display:flex;justify-content:center;align-items:center;font-size:14px;color:#808080;width:120px;height:46px;border:1px solid #ebebeb;border-radius:5px;}

.signup-cont-wrap{}
.signup-cont-wrap h2.type01{border-bottom:17px;border-bottom:1px solid #000;font-size:36px;color:#000;font-weight:300;}
.signup-cont-wrap h2.type01 strong{font-size:36px;color:#000;font-weight:500;}

.biz-select-list{width:100%;height:auto;overflow:hidden;margin-top:57px;}
.biz-select-list.type01{margin-top:16px;border-top:1px solid #ebebeb;padding-top:10px;}
.biz-select-list li{margin-top:6px;display:flex;justify-content:flex-start;align-items:center;width:calc( 100% - 2px );height:48px;overflow:hidden;border:1px solid #ebebeb}
.biz-select-list li .pic{position:relative;width:115px;height:48px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.biz-select-list li .pic:before{background:#ebebeb;content:"";position:absolute;right:0;top:15px;width:1px;height:20px;overflow:hidden;display:block;}
.biz-select-list li a{background:url(/static/images/signup/ico-signup-radio.png) no-repeat 24px center;padding-left:50px;background-size:18px 18px;display:flex;justify-content:flex-start;align-items:center;width:100%;flex:1;height:48px;overflow:hidden;font-size:16px;color:#000;font-weight:300;}
.biz-select-list li a.on{background:url(/static/images/signup/ico-signup-radio-on.png) no-repeat 24px center;background-size:18px 18px;}

.biz-select-btn{width:100%;height:auto;overflow:hidden;margin-top:27px;display:flex;justify-content:flex-start;align-items:center;}
.biz-select-btn .btn{display:flex;justify-content:center;align-items:center;overflow:hidden;font-size:16px;}
.biz-select-btn .btn.white{height:46px;width:116px;border:1px solid #2a7fe7;color:#2a7fe7;margin-right:9px;}
.biz-select-btn .btn.blue{height:48px;width:100%;flex:1;background:#2a7fe7;color:#fff !important;}

.signup-agree-tit{width:100%;height:auto;overflow:hidden;font-size:16px;color:#000;margin-top:52px;}

.signup-agree-list{margin-top:15px;width:calc( 100% - 2px );height:auto;overflow:hidden;border:1px solid #ebebeb;}
.signup-agree-list dt{border-bottom:1px solid #ebebeb;height:58px;width:100%;display:flex;justify-content:flex-start;align-items:center;}
.signup-agree-list dt input{display:flex;margin-left:39px;}
.signup-agree-list dt label{letter-spacing:-1.05px;display:flex;margin-left:10px;font-size:16px;color:#000;}
.signup-agree-list dd{width:100%;height:auto;overflow:hidden;}
.signup-agree-list dd ul{padding:10px 0;width:100%;height:auto;overflow:hidden;}
.signup-agree-list dd ul li{height:auto;padding:10px 0;width:100%;display:flex;justify-content:flex-start;align-items:center;}
.signup-agree-list dd ul li input{display:flex;margin-left:39px;}
.signup-agree-list dd ul li label{letter-spacing:-1.05px;display:flex;margin-left:10px;font-weight:300;font-size:16px;color:#000;}
.signup-agree-list dd ul li label strong{font-weight:normal;text-decoration:underline;}
.signup-agree-list input{background:url(/static/images/signup/ico-chk-off.png) no-repeat;background-size:19px 19px;width:19px;height:19px;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none;display:flex;}
.signup-agree-list input:checked{background:url(/static/images/signup/ico-chk-on.png) no-repeat;background-size:19px 19px;}

.join-form-item{position:relative;margin-top:50px;width:100%;}
.join-form-item.type01{margin-top:35px;padding-top:35px;border-top:1px solid #ebebeb;}
.join-form-item .item{margin-top:7px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.join-form-item .item .inp{font-size:16px;color:#3b3b3b;display:flex;width:100%;flex:1;height:48px;border:1px solid #b7b7b7;padding:0 22px;}
.join-form-item .item .btn-func{display:flex;justify-content:center;align-items:center;width:100px;height:48px;border:1px solid #2a7fe7;border-radius:5px;margin-left:8px;font-size:14px;color:#2a7fe7;}
.join-form-item .item .inp.err{border-color:#ff0000;}
.join-form-item .err-msg{position:absolute;left:22px;bottom:-22px;font-size:12px;color:#ff0000;}

.complate-msg{width:890px;height:auto;border-bottom:1px solid #ebebeb;margin:0 auto;padding:130px 0 40px 0;}
/* .complate-msg h1{line-height:1.24em;font-weight:300;font-size:50px;color:#2a7fe7;width:100%;height:auto;overflow:Hidden;} */
/* .complate-msg h1 strong{font-weight:500;font-size:50px;color:#2a7fe7;} */
.complate-msg h1{letter-spacing: -3.75px;font-size:50px;color:#2a7fe7;font-weight:300;width:100%;height:auto;line-height:1.24em;}
.complate-msg h1 strong{font-size:50px;color:#2a7fe7;font-weight:500;}
.complate-msg .desc{margin-top:30px;width:100%;height:auto;overflow:Hidden;font-size:22px;color:#808080;letter-spacing:-1.65px;}

.complate-guide-wrap{display:flex;justify-content:space-between;align-items:flex-start;width:890px;height:auto;margin:0 auto;}
.complate-guide-wrap .guide-nav{margin-top:30px;width:350px;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-nav ul{width:100%;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-nav ul li{padding-bottom:18px;width:100%;height:auto;overflow:hidden;position:relative;}
.complate-guide-wrap .guide-nav ul li:before{content:"";position:absolute;left:0;top:0;font-size:18px;color:#808080;}
.complate-guide-wrap .guide-nav ul li:nth-child(1):before{content:"1";}
.complate-guide-wrap .guide-nav ul li:nth-child(2):before{content:"2";}
.complate-guide-wrap .guide-nav ul li:nth-child(3):before{content:"3";}
.complate-guide-wrap .guide-nav ul li:nth-child(4):before{content:"4";}
.complate-guide-wrap .guide-nav ul li:nth-child(5):before{content:"5";}
.complate-guide-wrap .guide-nav ul li:nth-child(6):before{content:"6";}
.complate-guide-wrap .guide-nav ul li a{display:flex;justify-content:flex-start;align-items:center;font-size:18px;color:#808080;width:calc( 100% - 42px );padding-left:42px;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-nav ul li a.on{margin-top:-3px;font-size:24px;color:#2a7fe7;background:url(/static/images/signup/ico-check01.png) no-repeat 15px center;background-size:22px 17px;}
.complate-guide-wrap .guide-cont{margin:10px 0 120px 0;width:480px;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-cont ul{display:flex;justify-content:flex-start;align-items:flex-start;width:100%;height:auto;overflow:hidden;margin-bottom:20px;}
.complate-guide-wrap .guide-cont ul li{position:relative;width:74px;height:auto;padding-top:40px;display:none;}
.complate-guide-wrap .guide-cont ul li.on{display:block;}
.complate-guide-wrap .guide-cont ul li:first-child{}
.complate-guide-wrap .guide-cont ul li:before{position:absolute;left:0;top:0;font-size:16px;color:#3b3b3b;}
.complate-guide-wrap .guide-cont .desc{font-weight:300;font-size:20px;color:#808080;letter-spacing: -1.5px;line-height:1.4em;width:100%;max-width:450px;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-cont .desc strong{font-weight:500;font-size:20px;color:#808080;}
.complate-guide-wrap .guide-btn-wrap{display:flex;justify-content:flex-end;align-items:center;margin-top:80px;width:100%;height:auto;overflow:hidden;}
.complate-guide-wrap .guide-btn-wrap a{font-size:16px;color:#fff;display:flex;justify-content:center;align-items:center;width:140px;height:48px;overflow:hidden;background:#2a7fe7;}

.signup-dialog{position:fixed;left:0;width:100%;overflow:hidden;top:0;height:100%;display:none;justify-content:center;align-items:center;}
.signup-dialog.on{display:flex;}
.signup-popup{width:calc( 100% - 2px );max-width:467px;border:1px solid #ebebeb;background:#fff;height:auto;overflow:hidden;}
.signup-popup-header{width:100%;height:48px;overflow:hidden;border-bottom:1px solid #ebebeb;position:relative;}
.signup-popup-header a{position:absolute;right:20px;top:20px;}
.signup-popup-header a img{width:14px;height:14px;}
.signup-popup-cont{width:calc( 100% - 82px );height:auto;overflow:hidden;padding:42px;}
.signup-popup-cont h2{width:100%;height:auto;overflow:hidden;font-size:24px;color:#000;font-weight:500;}
.signup-popup-cont .desc{margin-top:30px;letter-spacing: -2.1px;width:100%;height:auto;overflow:hidden;font-size:28px;color:#2a7fe7;font-weight:300;line-height:1.25em;}
.signup-popup-cont .desc strong{font-size:28px;color:#2a7fe7;font-weight:500;}
.signup-popup-cont .form-item{margin-top:30px;width:100%;height:auto;overflow:hidden;}
.signup-popup-cont .form-item .inp{font-size:16px;color:#000;width:100%;height:48px;border:0;border-bottom:1px solid #000;overflow:hidden;}
.signup-popup-cont .form-btn-wrap{display:flex;justify-content:flex-end;align-items:center;margin-top:50px;width:100%;height:auto;overflow:hidden;position:relative;}
.signup-popup-cont .form-btn-wrap a{font-size:14px;display:flex;justify-content:center;align-items:center;}
.signup-popup-cont .form-btn-wrap a.t01{width:91px;height:37px;overflow:hidden;background:#2a7fe7;color:#fff;}
.signup-popup-cont .form-btn-wrap a.t02{margin-left:6px;width:89px;height:35px;overflow:hidden;border:1px solid #2a7fe7;color:#2a7fe7;}
.signup-popup-cont .form-btn-wrap .text-link{position:absolute;left:0;top:0;font-size:12px;color:#2a7fe7;font-weight:500;}
.find-type-list{width:100%;height:auto;overflow:hidden;margin-top:20px;}
.find-type-list li{margin-top:10px;width:100%;height:auto;overflow:hidden;}
.find-type-list li a{background:url(/static/images/signup/ico-signup-radio.png) no-repeat 0 5px;background-size:18px 18px;flex-direction:column;display:flex;justify-content:flex-start;align-items:flex-start;width:calc( 100% - 25px );padding-left:25px;height:auto;overflow:hidden;}
.find-type-list li a.on{background:url(/static/images/signup/ico-signup-radio-on.png) no-repeat 0 5px;background-size:18px 18px;}
.find-type-list li a .t01{display:flex;font-size:16px;color:#808080;}
.find-type-list li a .t02{display:flex;font-size:14px;margin-top:5px;color:#2a7fe7;}

.signup-popup-cont dl{margin-top:50px;width:100%;height:auto;overflow:hidden;}
.signup-popup-cont dl dt{display:flex;justify-content:flex-start;align-items:center;width:100%;height:auto;overflow:hidden;}
.signup-popup-cont dl dt span{display:flex;font-size:12px;color:#000;font-weight:500;}
.signup-popup-cont dl dt a{display:flex;margin-left:10px;font-size:12px;font-weight:300;color:#2a7fe7;}
.signup-popup-cont dl dd{width:100%;height:auto;overflow:hidden;width:100%;height:auto;overflow:hidden;}
.signup-popup-cont dl dd ul{width:100%;height:auto;overflow:hidden;}
.signup-popup-cont dl dd ul li{font-weight:300;margin-top:8px;ont-size:12px;color:#808080;width:calc( 100% - 10px );padding-left:10px;position:relative;height:auto;overflow:hidden;}
.signup-popup-cont dl dd ul li:before{display:block;content:"";width:4px;height:2px;overflow:hidden;background:#2a7fe7;position:absolute;left:0;top:7px;}

.complate-guide-wrap .guide-nav{position:relative;overflow:visible;}
.guide-select{padding-left:20px;font-size:20px;color:#2a7fe7;display:flex;justify-content:flex-start;align-items:center;position:relative;width:calc( 100% - 22px );height:50px;border:1px solid #2a7fe7;border-radius:5px;overflow:hidden;}
.guide-select:before{content:"";width:50px;height:50px;overflow:Hidden;position:absolute;right:0;top:0;display:block;background:url(/static/images/signup/ico-arr-down.png) no-repeat center center;background-size:30px 19px;}
.complate-guide-wrap .guide-nav ul{padding-top:15px;z-index:90;width:calc( 100% - 2px );background:#fff;position:absolute;left:0;top:50px;border:1px solid #2a7fe7;}
.complate-guide-wrap .guide-nav ul li:before{display:none;}

@media (max-width:1280px) {
	.signup-wrap{width:calc( 100% - 60px );}
	.signup-wrap .signup-msg-wrap{width:100%;padding-bottom:30px;border-bottom:1px solid #ebebeb;}
	.signup-wrap .signup-msg-wrap .desc{display:none;}
	.signup-wrap .signup-cont-wrap{width:100%;padding-left:0;border-left:0;min-height:0;}
	.complate-msg{width:calc( 100% - 50px );}
	.complate-guide-wrap{width:calc( 100% - 60px );display:block;}
	.complate-guide-wrap .guide-nav{margin-left:0;width:100%;}
	.complate-guide-wrap .guide-cont{width:100%;}
	.complate-guide-wrap .guide-cont ul li:before{display:none;}
}
@media (max-width:768px) {
	 .signup-wrap .signup-msg-wrap h1{margin-top:0;font-size:40px;}
	 .signup-wrap .signup-msg-wrap h1 strong{font-size:40px;}
	 .signup-wrap .signup-cont-wrap h2{font-size:40px;margin-top:30px;}
	 .signup-wrap .signup-cont-wrap .form-item{margin-top:20px;}
	 .signup-cont-wrap h2.type01{font-size:30px;}
	 .signup-cont-wrap h2.type01 strong{font-size:30px;}
	 .biz-select-list{margin-top:20px;}
	 .biz-select-list li .pic{width:70px;}
	 .biz-select-list li a{font-size:14px;}
	 .signup-agree-tit{margin-top:20px;}
	 .signup-agree-list dt input,
	 .signup-agree-list dd ul li input{margin-left:20px;}
	 .signup-agree-list dd ul li label{font-size:14px;margin-left:5px;}
	 .join-form-item{margin-top:35px;}
	 .complate-guide-wrap .guide-btn-wrap{margin-top:50px;}
	 
	 .complate-msg{margin-top:50px;padding-top:0;}
	 .complate-msg h1{font-size:36px;margin-top:0;}
	 .complate-msg h1 strong{font-size:36px;}
	 .complate-guide-wrap .guide-nav ul li a.on{font-size:20px;margin-top:0;}
	 .signup-dialog{background:#fff;align-items:flex-start;}
	 .signup-popup{width:100%;border:0;max-width:100%;}
	 .signup-popup-cont{width:calc( 100% - 60px );padding:30px;}
	 .complate-guide-wrap .guide-nav ul{display:None;}
	 .complate-guide-wrap .guide-nav ul.on{display:block;}
}


